[2016-01-05 07:51] priseborough opened #5 "EKF2 Development Needs"
This is a placeholder to capture miscellaneous ideas for improvement:

Efficiency improvements can be found by limiting the maximum index during covariance and state operations depending on whether magnetic field learning is required and whether wind state estimation is required. Doing so reduces the effective number of filter states to 16 for most multi-rotor applications.

Initial angular alignm

[2016-01-27 07:53] tumbili opened #15 "EKF2 add comments for variable declaration."

[2016-01-29 00:56] bugobliterator opened #18 "Separate filter monitoring function for GPS quality"
Addition of a separate filter monitoring function that looks at GPS innovations, eph, epv, speed accuracy, number of satellites, position variances, etc to determine if
a) Is the GPS solution is good enough to set an origin
b) Provide a position accuracy estimate to the system
c) Provide a dead-reckoning status to the system
d) Provide a validity status for the different states (eg attitude, hvel,

[2016-01-29 00:57] bugobliterator opened #19 "Addition of innovation consistency checks to all observations with user tuneable gate sizes"

[2016-01-29 00:58] bugobliterator opened #20 "Implementation of simpler magnetic heading fusion pre takeoff"
The simpler magnetic heading fusion should be used when on the ground or indoors, with a transition to use of 3-axis magnetometer fusion for up and away flight. This is because the simple magnetic heading fusion is more robust to external field disturbances, whereas the 3-axis fusion is more robust to sensor errors and provides improved angular accuracy when the assumption of a consistent external

[2016-01-29 01:07] bugobliterator opened #21 "Optical flow support"

[2016-01-29 01:08] bugobliterator opened #22 "support for multiple instances of EKF"

[2016-01-29 01:08] bugobliterator opened #23 "Airspeed support"

[2016-01-29 01:10] bugobliterator opened #24 "Synthetic Sideslip Support"
Enables planes to estimate wind without an airspeed sensor and improves dead reckoning performance when GPS is lost

[2016-01-29 01:11] bugobliterator opened #25 "Magnetometer fusion error checks"
Currently being implemented on this branch: https://github.com/priseborough/ecl/tree/pr-addMagErrHandling

[2016-01-29 01:12] bugobliterator opened #26 "Restructuring Initial angular alignment state flow"
Should be done in stages with no yaw alignment and magnetometer fusion until the tilt error as determined by the filtered x,y length of the angle error state vector has decayed.

[2016-01-29 01:32] bugobliterator opened #27 "State flow after GPS loss"
If GPS is lost, then a maximum dead-reckoning time must be observed, at which time the filter will need to be switched into its non-aiding mode of operation to prevent loss of attitude reference.

If the innovation consistency check on GPs position has failed for long enough that the horizontal position uncertainty has reached a user specified size, then the states should be reset to the GPS posit

[2016-01-29 05:11] bugobliterator opened #29 "Make library standalone"
strip out dependencies on PX4 Firmware, create hooks for other dev environments to connect/use this library, e.g. ros.

[2016-01-29 12:28] MappleCastle commented on #29
Thanks for your works，I am trying to use this libraty on my robot car

[2016-01-30 10:32] priseborough opened #30 "Magnetic declination always starts at zero"
The EKF has to learn the declination starting from an initial value of zero for each flight. We should calculate an initial value using the WGS-84 position or remember the value the end of each flight.

[2016-01-30 10:33] LorenzMeier commented on #30
The API for that is in PX4. You just have to call it.

[2016-01-31 03:55] priseborough opened #31 "Absolute heading and declination is unobservable when operating without absolute aiding"
When operating with optical flow or some other relative aiding method, the absolute headin.g and magnetic declination is unobservable. To enable use of the more accurate 3-axis magnetometer fusion, fusion of synthetic declination observations is required to constrain declination drift and loss of absolute heading reference. The method to be implemented is here:

https://github.com/PX4/ecl/blob/mas

[2016-01-31 04:26] priseborough commented on #30
Capturing the requirements here:

1) The startup declination shall be taken from a user adjustable magnetic declination parameter.
2) When the WGS-84 NED origin is set, the EKF magnetic field states and heading shall be updated using the declination returned by get_mag_declination(lat, lon). A configuration parameter shall be provided to the user to enable this yaw and field update to be inhibited

[2016-01-31 04:32] #25 closed

[2016-01-31 04:34] priseborough commented on #25
Addressed by https://github.com/PX4/ecl/pull/17

[2016-01-31 04:40] priseborough opened #32 "EKF monitor function required"
We need to add a separate filter monitoring function that looks at innovations, state variances,  fusion timeout, GPS quality metrics, etc to:
a) Provide a position accuracy estimate to the system
b) Provide a dead-reckoning status to the system
c) Provide a validity status for the different states (eg attitude, hvel, hpos, vvel, vpos, wind, etc)
d) Provide position glitch warning to the system

[2016-01-31 04:49] priseborough opened #33 "Enable fixed wing operation with bad magnetometer installation"
For fixed wing applications, a aligning the initial heading using the GPS velocity and reinitialising the magnetic field states shortly after takeoff or launch is required to enable operation without a magnetometer or to recover from a bad magnetometer setup. An example of this functionality can be found in the APM EKF2 alignYawGPS() function.

[2016-01-31 05:01] priseborough opened #34 "Incomplete magnetometer and heading fusion tuning parameter implementation"
The heading fusion observation noise parameter EKF2_HEAD_NOISE adjusts the observation variance, not the observation noise. It should be adjusting noise and have units of rad
The magnetometer noise parameter EKF2_MAG_NOISE ias actually adjusting the magnetic field state process noise, nor the magnetometer observation noise. It should be renamed.
There is no parameter to adjust the magnetometer obs

[2016-02-03 10:12] priseborough commented on #34
Addressed by #36

[2016-02-03 10:14] priseborough commented on #27
Fixed by https://github.com/PX4/ecl/pull/35

[2016-02-03 10:15] priseborough commented on #27
Fixed by https://github.com/PX4/ecl/pull/35

[2016-02-03 10:15] #27 closed

[2016-02-03 10:15] priseborough commented on #27
https://github.com/PX4/ecl/pull/35

[2016-02-03 10:17] #26 closed

[2016-02-03 10:17] priseborough commented on #26
Fixed by  https://github.com/PX4/ecl/pull/35

[2016-02-03 10:18] #20 closed

[2016-02-03 10:18] priseborough commented on #20
Fixed by https://github.com/PX4/ecl/pull/35

[2016-02-03 10:19] priseborough commented on #18
Partially addressed by https://github.com/PX4/ecl/pull/14

[2016-02-03 10:19] #19 closed

[2016-02-03 10:20] priseborough commented on #19
Fixed by https://github.com/PX4/ecl/pull/35 and https://github.com/PX4/ecl/pull/17

[2016-02-03 10:23] priseborough opened #37 "Use system 'landed' check when available"
The in-air/on-ground logic currently uses system arm status and height change. Existing landing check information should also be used.

[2016-02-03 10:36] priseborough opened #38 "IMU processing chain is not optimal for inertial navigation or flight control"
Use of the in-built sensor digital noise filtering increases effect of coning errors and does not reduce effect of aliasing. The use of the IMU inbuilt digital filters should be minimised.
Coning error corrections should be applied before the gyro data is integrated to form delta angles and down-sampled to 400Hz.
Noise filtering for the angular rate and specific force measurements used by control

[2016-02-04 05:26] bugobliterator commented on #21
https://github.com/bugobliterator/ecl/tree/pr-optflow

[2016-02-06 10:11] tumbili commented on #34
Applied to master, closing.

[2016-02-06 10:11] #34 closed

[2016-02-06 10:18] tumbili commented on #21
@bugobliterator Had a look at your branch, looks good! Do you want to open an PR for this?
I'd love to try optical flow soon.

[2016-02-06 10:22] bugobliterator commented on #21
I am still working on it. I have setup SITL to test it. Will be doing some flight tests too if possible before creating a PR.

[2016-02-06 10:26] tumbili commented on #21
@bugobliterator Ok great! Are you using the PX4 gazebo simulation?

[2016-02-06 10:26] bugobliterator commented on #21
yes

[2016-02-06 10:28] tumbili commented on #22
Implementation started in #28

[2016-02-09 11:53] #31 closed

[2016-02-09 11:54] priseborough commented on #31
Fixed by PR #41

[2016-02-09 11:55] priseborough commented on #30
A simplified version that does not offer option 3 is presented in PR #42

[2016-02-11 12:37] LorenzMeier opened #44 "Estimate baro offset"
@priseborough This is to track the baro offset estimation.

[2016-02-13 07:59] tumbili commented on #37
Implemented in #47, now we have to make use of it.

[2016-02-13 23:34] tumbili commented on #15
Done!

[2016-02-13 23:34] #15 closed

[2016-02-13 23:35] tumbili commented on #37
Done!

[2016-02-13 23:35] #37 closed

[2016-02-29 19:35] jgoppert opened #68 "Move PX4/Firmware/src/modules/controllib into ecl"
Ecl and PX4/Firmware/src/modules/controllib have the same design and same purpose and should be combined. Basically all control blocks look like:

y = update(u)

With matrix lib we can even make all of these blocks in vector versions.
The controllib is set up similar to simulink. Each block has a set of parameters which form its context, and these blocks can be nested. When you call you call y = u

[2016-02-29 19:38] jgoppert opened #69 "Autogenerate ECL sensor/motor interfaces"
A lot of handwritten interface code is being done in ecl, for instance, GPS message structures etc. I think we should autogenerate these interfaces. Why not even using the existing uorb message generation in PX4/Firmware. This will keep ECL platform independent and make it easier to develop/read/maintain.

[2016-03-13 21:34] priseborough commented on #38
The fix for this needs to be done in PX4/Firmware, so am closing this

[2016-03-13 21:34] #38 closed

[2016-03-13 21:37] priseborough commented on #32
a) and b) have been completed.

[2016-03-13 21:37] #30 closed

[2016-03-13 21:41] priseborough commented on #21
completed with #74

[2016-03-13 21:41] #21 closed

[2016-03-13 21:43] priseborough commented on #18
outstanding items dupicaed by #32

[2016-03-13 21:43] #18 closed

[2016-03-14 10:37] CarlOlsson opened #77 "TODO list for airspeed fusion"
- [x] Increase the airspeed readout rate to 14 Hz and
- [x] And test in SITL
- [x] Make the estimator publish to the wind topic PX4/Firmware#4147
- [ ] Optimize the calculation of the covariance matrix by taking advantage of the sparseness in H
- [x] Add protection against the denominator in line 76 being too small #86
- [x] Move the check for if we want to fuse airspeed somewhere higher up
- [x]

[2016-04-02 11:01] CarlOlsson opened #81 "Airspeed Fusion Innovations"
Yesterday we did a flight test with a fixed wing and ekf2. I adopted the current master code to always fuse airspeed above 3 meters per second just to verify if the calculations are correct. @priseborough @tumbili It would be great if you could have a look and tell me what you think of the innovations?

Flight outside with Wingwing, fusing airspeed at 12.5 Hz
![wingwing_fuse_rate12c5hz](https://cl

[2016-04-02 16:16] CarlOlsson commented on #81
I think I found the reason to why innovation variance spikes. We did another test flight today and it looks like this:
![landed](https://cloud.githubusercontent.com/assets/7795133/14227470/da5ed51c-f8fe-11e5-9bb0-f36fe628c461.png)
For some reason landing is detected several times during the flight and the variance spikes at that moment.

[2016-04-04 15:21] #81 closed

[2016-04-05 20:38] #23 closed

[2016-04-11 08:56] tumbili opened #91 "EKF2 vertical height diverged"
Happened on a test flight with wing wing and Pixracer

http://logs.uaventure.com/view/EDXp7BmVQsSsboydZMKVWW

First insights from discussion with @priseborough:
- [ ] when local position state is reset the corresponding velocity states needs to be reset as well (not the case now)
- [ ] the high innovations and the resulting divergence of the vertical position could have been caused by timing issue

[2016-04-11 09:45] priseborough commented on #91
https://github.com/PX4/ecl/pull/92

[2016-04-11 10:46] priseborough commented on #91
I have tested its ability to recover from temporary large errors on IMU z accel data. However we need to give more thought to the desired system behaviour during a height sensor timeout and immediately following a reset.

[2016-04-13 15:57] tumbili opened #95 "Ekf2 memory leackage"
The parameter instances are never deleted in the constructor.
This burns 10kB of memory :-)

[2016-04-15 07:09] tumbili opened #96 "Height sensor offset resetting"
After switching from baro to gps we initialize the primary height sensor offset (in this case gps) like this
https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L186

However, we should not be using the current height state value in this calculation.
@priseborough Please have a look.

[2016-04-19 20:36] devbharat opened #100 "Flag for height measurement update when using external vision"
When using external vision, external vision height is never used for height update as the baro flag does not go "off" and the if(baro) else if(external vision) fails to use external vision height. Need to reset baro flag when using external vision correctly.

For now, changing

    if (_fuse_height) {
        if (_control_status.flags.baro_hgt) {
            fuse_map[5] = true;
            // vert

[2016-04-20 09:45] LorenzMeier commented on #100
@priseborough Could we get this in? We're pushing hard on the vision integration and I don't want to loose momentum or create branch drift.

[2016-04-20 09:45] LorenzMeier commented on #96
@priseborough Could you look into this during this week?

[2016-04-20 09:46] LorenzMeier commented on #95
@tumbili Can you address that?

[2016-04-20 09:51] devbharat commented on #100
https://github.com/PX4/ecl/pull/101

[2016-04-20 10:29] priseborough commented on #91
I have incorporated furthers changes to height reset behaviour here and am i the process of testing it:

https://github.com/priseborough/ecl/tree/pr-ekf2HeightReset

We need a means of inducing sensor faults in SITL

[2016-04-21 12:37] devbharat opened #103 "Local_position reference alt when using External vision"
When the GPS is connected to the pixhawk and the GPS module is started, but external vision is enabled for position and altitude instead of GPS, the reference altitude of local position somehow also drifts with the GPS value(indoors). Turning off the GPS module or disconnecting it solves the issue.

I suspect its the estimators "_gps_alt_ref" value is leaking in from GPS somehow.

[2016-04-26 08:02] LorenzMeier commented on #29
Done.

[2016-04-26 08:02] #29 closed

[2016-04-26 08:03] LorenzMeier commented on #77
@CarlOlsson Where are we standing with this?

[2016-04-26 08:04] LorenzMeier opened #108 "Attitude solution diverges without mag fusion enabled"
@priseborough For urban scenarios it would be beneficial to just have drift but not divergence, in particular in the presence of excellent VIO based heading estimates.

[2016-04-26 19:58] devbharat opened #109 "External vision XY initialization and tracking"
At initialization LPOS.X and LPOS.Y take way too long to converge to values sent by external vision. (Probably because aircraft is stationary but not at origin when EKF2 starts, so external vision is sending in non zero values). Need to support starting at non zero values.

![lposxy_initialization](https://cloud.githubusercontent.com/assets/3105122/14832230/7a96f23c-0bf9-11e6-9c28-2c29d6e3cdc1.png

[2016-04-26 19:59] devbharat commented on #109
Full log file can be found at http://wikisend.com/download/174296/log001.px4log

[2016-04-27 08:28] ndepal opened #111 "Snapdragon: Poor altitude estimation with range sensor"
I am trying to get the snapdragon flying in altitude control based on altitude estimation with the TeraRanger One. However, `local_position_NED.z` is very inaccurate and seems to depend a lot on the quality of the acceleration measurements.

I'm testing this the following way: I've hardcoded the TeraRanger driver to output a distance of 0.3m. `EKF2_RNG_NOISE` is set to 0.0001. The quad sits statio

[2016-04-27 08:34] LorenzMeier commented on #111
@priseborough This is for you

[2016-04-27 09:05] priseborough commented on #111
The first action is to add EV messages to the logging and replay test harness so I can diagnose and fix tuning and other issues. The EV PR https://github.com/PX4/ecl/pull/106 will not be pulled in until there is corresponding PR for the logging and replay in PX4/Firmware.

[2016-04-27 09:05] julianoes opened #113 "Standalone build doesn't work"
I'm trying to build this following the instructions of the [README.md](https://github.com/PX4/ecl/blob/master/README.md).

[code]

This is on Ubuntu 16.04.

[2016-04-27 09:06] julianoes commented on #113
Hang on, I might have to read the instructions more carefully.

[2016-04-27 09:31] julianoes commented on #113
No, the Eigen3 path is hard-coded for Mac. A potential fix is in #114.

[2016-04-27 13:57] mcsauder commented on #113
Hi, I had this trouble in another project after upgrading to 16.04 as well.  I had to add symbolic links in the following manner:

    cd /usr/include/
    sudo ln -sf eigen3/Eigen Eigen
    sudo ln -sf eigen3/unsupported unsupported

This fixed the issue for me in my other projects this week, (also, I had encountered this issue previously back in Ubuntu 13.04 and 13.10).  I hope this might help.

[2016-04-28 06:35] julianoes commented on #113
@mcsauder: thanks for the comment. I prefer not having to do symlinking and using cmake's FindEigen3 to look for it.

See how it's done in #114. Does that work for you?

[2016-04-28 09:31] CarlOlsson commented on #77
I think all of the remainging points except the calculation of the covariance matrix were resolved by @tumbili ?

[2016-04-28 11:07] tumbili commented on #77
@CarlOlsson Yes, we can close this. Everything is in now, we just have to go on with testing.

[2016-04-28 11:07] #77 closed

[2016-04-28 12:35] mcsauder commented on #113
Hi @julianoes,

I agree with your sentiment on avoiding sym links, I only employ them as a last resort.  Unfortunately, I already have FIND_PACKAGE(Eigen3) in the top level CMakeLists.txt file for this and two other projects using Eigen that began failing compile after the upgrade to 16.04.  :/

As an additional detail that might be worth investigating, if Eigen is installed in the typical manner

[2016-04-28 13:04] julianoes commented on #113
I think it is common practice to have the package from the distribution in /usr/include and install libraries compiled/downloaded yourself in /usr/local/include. I would also guess that FIND_PACKAGE(Eigen3) should check both paths.

It works fine for me on a fresh 16.04 with `libeigen3-dev` installed with apt-get.
It shows up like this:
[code]

I think you should be able to fix it without re-insta

[2016-04-28 15:52] ndepal commented on #111
Here is a replay log of a flight with the snapdragon and tera ranger. In the second half, we were flying in altitude hold. You can see that `LPOS.Z` looks quite constant, while `EST0.s8` oscillates and more closely matches `RPL4.rng`. The constant `LPOS.Z` can be attributed to the altitude controller doing its job. However, the quad was not stable in height but rather did what  `EST0.s8` and `RPL4

[2016-04-30 04:15] priseborough commented on #111
I've spent some time with the replay and have come to the conclusion that it is caused by a combination of factors.

1) Poor quality accelerometer data as evidenced by large range  finder innovations
2) Insufficient gain in the output complementary output filter
3) tuning on the EKF that does not allow for the amount of accelerometer error.

I have pushed some changes to ecl master which improve t

[2016-05-03 00:14] #91 closed

[2016-05-03 00:15] #96 closed

[2016-05-03 00:21] priseborough commented on #100
@devbharat and @tumbili

Pulling in external vision PR #106 is blocked until we have the ability to log and replay external vision data as that is the only way I can test it.

[2016-05-03 05:50] devbharat commented on #100
I have made the PR for that. I'll send the log to Roman and once that's in, we could get this in too.

[2016-05-05 09:42] CarlOlsson opened #121 "altitude estimate diverges when fusing airspeed data"
@tumbili
From two flights with the wingwing
![3](https://cloud.githubusercontent.com/assets/7795133/15040596/56726fe4-12b6-11e6-8a9e-57347362abc7.png)
![4](https://cloud.githubusercontent.com/assets/7795133/15040598/58fc4f64-12b6-11e6-90d8-22d9008cd2f4.png)

The raw airspeed sensor data doesn't look so nice so will try to replace the airspeed sensor and level shifter with a new one from AUAV and t

[2016-05-05 09:55] LorenzMeier commented on #121
@CarlOlsson Can you have a look at this here? The code before Daniel's fix looks wrong to me, and I would not be surprised if that results in what you're seeing here:
https://github.com/PX4/ecl/pull/120/files

[2016-05-05 10:44] LorenzMeier commented on #121
@CarlOlsson Can you share the raw log file via Log muncher?

And can you please do a flight again with replay logging?

[2016-05-05 15:05] CarlOlsson commented on #121
Will do the two flights tomorrow and share the logs. Just want to make sure the sensor is working correctly first

[2016-05-05 19:50] ndepal commented on #111
Thanks for looking into this.

Regarding the hand held test you propose: We did this and the performance looks significantly better. However, what we do notice is an overshoot of the altitude estimation whenever we change the quad's altitude (i.e. overshoot in the step response). We observe the same on a Pixhawk.

Regarding the EKF2 parameters. I'm aware that these are extreme. I played around wit

[2016-05-06 08:43] CarlOlsson commented on #121
First flight today
![2](https://cloud.githubusercontent.com/assets/7795133/15068358/f875f7f0-1376-11e6-8812-ded6fd845982.png)
![1](https://cloud.githubusercontent.com/assets/7795133/15068359/f9c24d52-1376-11e6-9218-c1c769b9108c.png)
Logs here:
http://logs.uaventure.com/view/F2SnAfAwav576JyfqmLeQe
http://logs.uaventure.com/logmuncher/charts/F2SnAfAwav576JyfqmLeQe/logmuncher.log

[2016-05-06 12:23] CarlOlsson commented on #121
Made a second flight, deactivated airspeed fusion completely. Ekf still diverges.
![1](https://cloud.githubusercontent.com/assets/7795133/15072823/ecdd2ffc-1395-11e6-90d1-2d388700cd3f.png)
http://logs.uaventure.com/view/eVXyzfzw2oryqRJNvuumC3
http://logs.uaventure.com/logmuncher/charts/eVXyzfzw2oryqRJNvuumC3/logmuncher.log

[2016-05-06 13:06] LorenzMeier commented on #121
Did you create the replay logs as requested? Without that more flights are relatively pointless.

[2016-05-09 07:19] tumbili commented on #95
Fixed

[2016-05-09 07:19] #95 closed

[2016-05-10 01:27] mcsauder commented on #113
Hi @julianoes,

I just wanted to report back that a new install of Ubuntu 16.04 resolved the issue of not being able to find eigen, so all of my machines are behaving correctly now without symbolic links.

I have no idea what error existed on my machine, but all is well now.  Thanks for all of the follow-up and advice!

-Mark

[2016-05-10 06:26] CarlOlsson commented on #121
Yesterday I flight tested ecl master and this pr PX4/firmware#4484
![1](https://cloud.githubusercontent.com/assets/7795133/15137253/c2ef0c74-1688-11e6-9a6f-da3c7872ad16.png)
![2](https://cloud.githubusercontent.com/assets/7795133/15137256/c46e7634-1688-11e6-9d63-d60830cf93a4.png)
Unfortunately the RPL logs seems corrupt will try to fix it as soon as possible

[2016-05-10 06:28] CarlOlsson commented on #121
Plots: http://logs.uaventure.com/view/2y6aLea2BuiXQSeXe9zYHZ
Log: http://logs.uaventure.com/logmuncher/charts/2y6aLea2BuiXQSeXe9zYHZ/logmuncher.log

[2016-05-10 07:13] julianoes commented on #113
@mcsauder: nice, thanks for the heads-up!

[2016-05-10 09:22] ndepal commented on #111
I have tested the newest master on snapdragon today. I can gladly report that the altitude estimation looks significantly better now.

I've uploaded a log of today's flight: http://logs.uaventure.com/view/SCaV4ZGFbsFcVHdyHZnis5
Between seconds 90 and 160 I am in altitude hold.
The quad still oscillates up and down a good 20 cm. I would expect that performance could be better, given that I'm estima

[2016-05-10 11:41] priseborough commented on #111
It's a vibration /flight control problem. Height sensor innnovation on the EKF are less than 5cm in flight, but noise levels in the control loops are very high. Better isolation of the snapdragon board or filtering of accel data used for control (not navigation) is required - what is your isolation solution? It looks like your isolator mount natural frequency in the roll degree of freedom is being

[2016-05-10 11:41] #111 closed

[2016-05-10 14:56] CarlOlsson commented on #121
I remounted the pixracer such that it is damping vibrations.
Now the altitude is not diverging anymore
![1](https://cloud.githubusercontent.com/assets/7795133/15150714/b01c3cfc-16ce-11e6-8c4f-b14f30370ae1.png)

[2016-05-10 14:56] #121 closed

[2016-05-10 15:15] ndepal opened #125 "Snapdragon: Poor altitude estimation with range sensor"
After following the advice given in https://github.com/PX4/ecl/issues/111, we have come to the conclusion that altitude estimation performance of the complementary filter is still not satisfactory.

This can be seen in the following image:
![alt_est](https://cloud.githubusercontent.com/assets/8755300/15151138/4384a140-16d0-11e6-8220-21554184a8ea.png)

`EST0.s8` tracks the range data (the sign of w

[2016-05-10 18:50] CarlOlsson commented on #121
![1](https://cloud.githubusercontent.com/assets/7795133/15158567/d5c730b6-16f0-11e6-875f-d2f05648c302.jpg)
![2](https://cloud.githubusercontent.com/assets/7795133/15158568/d5ded73e-16f0-11e6-8786-e60586d26d94.jpg)
![3](https://cloud.githubusercontent.com/assets/7795133/15158569/d5e8327a-16f0-11e6-8078-b7c2e2da3fdf.jpg)

[2016-05-10 22:07] priseborough commented on #125
Yes i can - I will do some analysis on the replay log.

[2016-05-11 07:20] CarlOlsson opened #126 "RPL logs with airspeed sensor"
Did two flights with the wingwing
![img_8696 1](https://cloud.githubusercontent.com/assets/7795133/15172961/6ca4ba40-1759-11e6-90d8-9e8a65716b1d.JPG)

**First flight**
Plots: http://logs.uaventure.com/view/8gD2HCcvqjobKm5Bq46Yei
Log: http://logs.uaventure.com/logmuncher/charts/8gD2HCcvqjobKm5Bq46Yei/logmuncher.log

**Second flight**
Plots: http://logs.uaventure.com/view/hbXUjHrcGHQm9Dpuxxcv5d
Log:

[2016-05-11 14:25] priseborough commented on #125
I'm away on travel for the rest of the week, so will not be able to resume work on this until Sat

[2016-05-11 22:20] priseborough commented on #126
What version of the code were you using and have you isolated your pixracer from vibration yet?

[2016-05-12 07:09] CarlOlsson commented on #126
Yes the board is isolated #121
I was using this branch
0d377dc5f4ddbfd05af5d6e66cdac38e0ff49a3d
https://github.com/CarlOlsson/Firmware/tree/add_airspeed_to_rpl
I have a problem with the replay logs. If I activate airspeed fusion I still don't get any airspeed innovations in the logs. Even though I get it with the same code in SITL. @tumbili thought it could be something with how the flags in the e

[2016-05-12 08:50] CarlOlsson commented on #126
See PX4/Firmware#4515

[2016-05-12 09:47] priseborough commented on #126
What is the highest linear or rotational natural frequency of your isolation system and is there anything that could be bypassing it?

[2016-05-12 09:58] CarlOlsson commented on #126
The pixracer is mounted on 4 silicone tubes like this:
![fullsizerender 1](https://cloud.githubusercontent.com/assets/7795133/15210895/a95579e0-1838-11e6-81ef-c028749ffaa1.jpg)
I am not sure if that answers your question? Otherwise please explain a bit more and I will do some measurements if required

[2016-05-12 14:32] CarlOlsson commented on #126
ekf2 replay is finally working with airspeed.
![1](https://cloud.githubusercontent.com/assets/7795133/15218180/ff3335ca-185e-11e6-8a8a-7a3d108886a1.png)
@priseborough @tumbili I am a bit confused of the innovations before we are airborne, would appreciate any comments!

[2016-05-13 07:58] CarlOlsson commented on #126
Here is a mission flown in SITL. The vtol takes of flies for some time, transitions to hover and then transitions back to cruise.
![1](https://cloud.githubusercontent.com/assets/7795133/15241549/07e4c700-18f1-11e6-8878-60510c20dbfd.png)
The innovations of the fused tas shoud be zero during hover but they are not

[2016-05-13 08:14] tumbili commented on #126
@CarlOlsson Remember that when nothing is fused the innovation will just remain constant at the last value. Maybe this is why you are seeing innovations during hover.

[2016-05-13 08:25] CarlOlsson commented on #126
Yea you are right. No innovations are published during hover but the postprocessing sw fills up the missing data points with the last value. Would you recommend to keep it this way?

[2016-05-13 16:25] julianoes opened #128 "Initialization in SITL is slow"
The initialization in SITL is painfully slow and consumes a lot of time for developers.

The two delays to wait for are:
- ekf2 initialized
- home position initialized

Presumably both are due to the rather slow startup of ekf2.

It would be nicer to have this faster, or at least use a hack to speed it up for SITL.

[2016-05-14 01:32] priseborough commented on #125
I have some requests for further tests:

1) Can you please provide a short replay log where the copter is placed upright and held still in a level orientation for 5 seconds and then rotated upside down and held still and level in an inverted orientation for another 5 seconds. It is possible that the accel calibration may not be correctly calibrating the delta velocity outputs.

2) Can you please g

[2016-05-14 12:46] ndepal commented on #125
1) Log here: http://logs.uaventure.com/view/XkZMTFNZGbgwxXSDMpdSSD

2) Log here: http://logs.uaventure.com/view/SgLGKSantZPuGRGyaokEn9
I tried to do this as accurately as possible, with the range sensor perpendicular to the ground, but of course slight tilt will also cause a scale factor.

3) I flew with ee33f21303cb66d6ed85a68a33d37ec2fef76aaa, which already has #129 merged.
Log here: http://logs

[2016-05-14 23:49] priseborough commented on #125
To a lesser extent, some initial drift and overshoot  is evident on other platforms, but in-flight the tracking performance is good. The default filter tuning can tolerate large switch-on bias errors for the IMU and rapid changes in bias during flight - ie it is tuned for robustness, not performance. As a result there will be more drift and overshoot in the first 30 seconds after switch on. This c

[2016-05-15 01:12] priseborough commented on #125
I have worked through some potential causes:

1) Range finder errors. Your range finder does not return a measurement when the copter is on the ground with a default value of 20cm. This is contributing to overshoot during takeoff and landing.  There is no evidence of a significant range finder scale factor error. The vertical position innovations during height changes indicate that the range finde

[2016-05-16 07:48] ndepal commented on #125
1) I can't confirm that the range finder does not return a measurement when on the ground. If the range is below 20 cm or above 14 m the device simply saturates it's measurements at these limits. I still [publish the measurements on the ORB topic](https://github.com/PX4/Firmware/blob/master/src/platforms/posix/drivers/df_trone_wrapper/df_trone_wrapper.cpp#L183), however. I also don't see anything

[2016-05-16 08:14] priseborough commented on #125
Yes the measurements are fused, but the saturation of the sensor is causing an inconsistency when the copter takes-off or touches down. This makes the solution overshoot.

[2016-05-16 14:22] CarlOlsson opened #132 "When to fuse syntetic sideslip measurements"
@priseborough @tumbili
I am working on the logic of when to fuse syntetic sideslip measurement. The user of the ecl library can control when to fuse airspeed by controlling when to push airspeed measurements into the ekf. This is not possible for sideslip, so do we need to create a flag that is set outside the library to control this?
Or should we implement something that works for most users, e.g

[2016-05-16 14:24] CarlOlsson commented on #132
Sorry, yes lets discuss it on skype

[2016-05-16 14:24] #132 closed

[2016-05-17 03:38] priseborough commented on #128
https://github.com/PX4/ecl/pull/134

[2016-05-17 06:39] #5 closed

[2016-05-17 06:42] #100 closed

[2016-05-17 06:45] priseborough commented on #103
Can you please provide a replay log from a flight where this behaviour is demonstrated.

[2016-05-17 06:49] priseborough commented on #108
We can now use heading and/or position estimates from vision systems via the EKF2_AID_MASK parameter.

[2016-05-17 06:49] #108 closed

[2016-05-17 06:52] priseborough commented on #109
Fixed in master

[2016-05-17 06:52] #109 closed

[2016-05-17 06:54] priseborough commented on #113
So where do we stand with this issue now?

[2016-05-17 06:58] priseborough commented on #126
@CarlOlsson, those mounts are too stiff for a board of such low mass. You need to get the vibration modes below 50Hz. I use a thin ply mounting plate with 4 8x8x6 mm low density latex foam squares as shown below:
![photo on 17-05-2016 at 4 56 pm](https://cloud.githubusercontent.com/assets/3596952/15313727/7af63e06-1c50-11e6-9479-6fc001b25a65.jpg)

[2016-05-17 06:59] #126 closed

[2016-05-17 07:00] priseborough commented on #128
@julianoes If this PR is able to resolve your issues (in combination with parameter changes) then I will pull in the PR and close this issue.

[2016-05-17 07:57] devbharat commented on #103
This was from the code long ago, I haven't been up to testing recently. I'll see if I can recreate it and post update here.

[2016-05-17 13:05] julianoes commented on #113
Yep sorry fixed with #114.

[2016-05-17 13:05] #113 closed

[2016-05-18 01:10] priseborough opened #137 "EKF failed to initialise at +90 Pitch +90 Yaw"
The following replay log produces a NaN during alignment

http://logs.uaventure.com/view/9gSdQdUgMevQUdj6gZ44aL

[2016-05-18 02:32] priseborough commented on #137
Fixed by https://github.com/PX4/ecl/pull/134/commits/e4b2e9c93dfad03aec14e974991a309d732ba1ee

[2016-05-18 02:32] #137 closed

[2016-05-18 18:52] LorenzMeier opened #140 "Robustness to onboard vibration"
@priseborough @ndepal @CarlOlsson @boosfelm This is to discuss the effects of medium to strong vibration we saw on EKF2 and the relationship to other estimators which seemed to survive these better or at least hide the problem in a way that we felt they were fine to operate.

Could you share recent replay logs of these and maybe also a baseline flight with EKF1?

This is related to https://github.

[2016-05-18 20:57] CarlOlsson commented on #140
Today we flew the wingwing four times. Estimator diverged every flight, the pixracer is mounted with isolation but we already discussed that it could be to little.

We also flew our system with ekf2 and airspeed fusion. I haven't had time to look at the data but I think it was all fine since we did tecs etc. will update here tomorrow with all the logs etc

[2016-05-19 01:05] pickledgator opened #141 "Oscillations and settling time of EKF using EV"
Ran some more motion tests today using the EV fusion updates that were pulled into master a few days ago (and the new alignment PR from yesterday -- alignment seems much faster). I'm passing in vision updates at 100Hz and they are pretty clean. There's quite of a bit of overshoot and settling time in the ekf (as compared to the vision measurements) that I'm struggling to tune out. Eg., as I'm walk

[2016-05-19 03:41] priseborough commented on #140
To assist with the investigation I have created a branch where you can switch to using the rate and accel output from the IMU driver instead of the delta angle and velocity output and also select a different IMU.
https://github.com/PX4/Firmware/tree/ekf2ImuSampleInvestigation

[2016-05-19 07:49] ndepal commented on #140
I have the following logs for the snapdragon. In all of them I'm interested in `LPOS.Z` tracking the range measurements, which are set to be used for altitude estimation.

1) Hand held altitude steps 50 cm - 100 cm - 150 cm: http://logs.uaventure.com/view/SgLGKSantZPuGRGyaokEn9

2) Flight test: http://logs.uaventure.com/view/abRQ9KEnGNMY5Z2mBKarEP

The problems I have are drift even while the quad

[2016-05-19 08:38] priseborough commented on #140
Here's the replay of LPOS, range and estimator state for the hand test
![screen shot 2016-05-19 at 6 36 56 pm](https://cloud.githubusercontent.com/assets/3596952/15387500/ca6ea45e-1df0-11e6-8e33-db95a0dc2c6d.png)

[2016-05-19 08:52] priseborough commented on #140
Here's clear evidence of the output observer tracking degrading as vibration levels increase:
![screen shot 2016-05-19 at 6 50 58 pm](https://cloud.githubusercontent.com/assets/3596952/15387928/dd859762-1df2-11e6-9777-0a070c5438b2.png)

![screen shot 2016-05-19 at 6 51 36 pm](https://cloud.githubusercontent.com/assets/3596952/15387929/e1b1022c-1df2-11e6-84bc-30665966794e.png)

[2016-05-19 09:04] ndepal commented on #140
I have made several logs with the https://github.com/PX4/Firmware/tree/ekf2ImuSampleInvestigation branch:

The sign of the distance measurements has been inverted in the below figures.

1) `EKF2_IMU_MODE 0`, hand held: http://logs.uaventure.com/view/A3Q2qHRHfRWMjEvVdZ9LNJ
![ekf2imusampleinvestigation_mode0_hand_held](https://cloud.githubusercontent.com/assets/8755300/15387691/c0126294-1dae-11e6-88

[2016-05-19 09:18] priseborough commented on #140
Significant reductions the time constants on the complimentary filter did reduce the output observer differences slightly, eg
EKF2_TAU_VEL 0.1
EKF2_TAU_POS 0.05
![screen shot 2016-05-19 at 7 08 38 pm](https://cloud.githubusercontent.com/assets/3596952/15388398/24a3ec64-1df5-11e6-8931-70932c2a834f.png)
I will try some more extreme values on time constant and also look at increasing accelerometer no

[2016-05-19 11:26] CarlOlsson commented on #140
RPL logs from wingwing with Pixracer. Altitude estimate is diverging in every flight

**master** 7f65e01d07ea0c1527ea1369750b8f4e53e86094
- [log1](http://logs.uaventure.com/view/EpfXekdBYBhAiuj6tnq3WQ)

**master** but with sideslip fusion logging active.
- [log2](http://logs.uaventure.com/view/Agu9hunwaRejuNkG2BX4S7)
- [log3](http://logs.uaventure.com/view/Z5EeYCSvgasGo7atqMq6V)
- [log4](http://lo

[2016-05-19 12:40] priseborough commented on #140
The EKF and output observer vertical velocity in log http://logs.uaventure.com/view/ofn8G8zhNyyjJdaD3QvUN5
can be seen to have periodic 'kicks' of up to 0.2 m/s. Investigating this further showed it was caused by a problem with the delta velocity data (calculated from the IMU accelerations in the ekf2 module for this log). The following plot shows the z delta velocity which should be around -0.04

[2016-05-19 13:20] priseborough commented on #140
@CarlOlsson Your wing-wing has a bad case of vibration aliasing - see following plot of Z delta velocity when the filter has the first height divergence. You can see the beat frequency  reduce to DC as the vibration sweeps through a multiple of the sampling frequency.

![wingwing aliasing event 1](https://cloud.githubusercontent.com/assets/3596952/15394419/29647a4a-1e16-11e6-97f0-6b65c4a2bd75.png)

[2016-05-20 10:13] ndepal commented on #140
Through tuning, I am able to get good altitude tracking on the snapdragon.
I have significantly reduced the EKF time horizon by setting `IMU_BUFFER_LENGTH = 5` [here](https://github.com/PX4/ecl/blob/e3b9800cac459e7c279395c18191a872f465f848/EKF/estimator_interface.h#L237).
I have also drastically reduced `EKF2_TAU_POS` to 0.01, `EKF2_RNG_NOISE` to 0.01, and increased
`EKF2_RNG_GATE` to 20. These pa

[2016-05-20 10:49] priseborough commented on #140
Can you give EKF2_IMU_MODE = 1 a try (it's the inbuilt integration from the IMU driver), whereas 0 is the alternative method I introduced that converts rates and accel data into delta angles and velocities in the ekf2 wrapper.

[2016-05-20 11:20] ndepal commented on #140
Here is a EKF2_IMU_MODE = 1 log: http://logs.uaventure.com/view/FtYH3i2MULLSwhptKfobvi

[2016-05-20 12:15] priseborough commented on #140
I have pushed some updates to https://github.com/PX4/Firmware/tree/ekf2ImuSampleInvestigation that provide an alternative method for the output prediction that gives a velocity and position that are kinematically more consistent with each other. The price is about 1.5% more CPU usage on Pixhawk and more noise on position as it currently unfiltered. To enable the new predictor, set EKF2_DERIV_FREQ

[2016-05-21 14:31] ndepal commented on #140
We have placed a snapdragon on a QAV 250 frame (which was controlled with a PixRacer) to compare IMU noise levels. The Snapdragon was sitting on foam blocks, rather than hanging, and only had the power cable plugged in (i.e. without the TeraRanger, GPS/Mag, pass-through to PixFalcon that I usually have). In that setup, the IMU noise band is comparable to the PixRacer, +/- 1 m/s^2.

I also mounted

[2016-05-22 06:06] priseborough commented on #140
@ndepal The occasional jumps in LPOS.VZ and EST0.s6 are caused by what looks like processing or sampling errors in the delta velocity data . For that flight you had EKF2_IMU_MODE=1 so it was using the PX4 built in integrator. The following is a plot of the Z delta velocity data received by the ekf divided by the supplied time step. Note the 'spikes' on the data when the vehicle is at rest.

![scre

[2016-05-22 08:13] priseborough commented on #140
@julianoes @julianoes: Have you considered setting the MPU9250 sample rate divider in register 25 from 0 to 1 so that the gyro and IMU output are both at 4kHz? It will reduce the processing load in the IMU driver and  because the acceleration data is already sampled at 4kHz within the IMU wiht duplicate samples output, it will make no difference to aliasing resistance.

[2016-05-22 12:58] julianoes commented on #140
@priseborough: good idea, and it seems possible looking at the register map. I'll try this next week.

[2016-05-23 08:44] priseborough commented on #140
I have submitted a PR https://github.com/PX4/ecl/pull/148 that provides access to an optional method of correcting the output predictors velocity that uses position error. This ensures that the velocity is more kinematically consistent with the position which may provide better control loop performance under some conditions.

This method eliminates the noise sensitivity of the previous prototype i

[2016-05-23 11:30] priseborough commented on #103
Bump

[2016-05-23 11:34] priseborough commented on #125
@ndepal let me know if there is anything more you think needs to be done inside the ecl library. If not and you now believe your altitude variations are caused by the 'spikes' in the delta velocity , can you please close this issue and raise one on the PX4/Firmware.

[2016-05-23 11:34] #128 closed

[2016-05-23 11:35] priseborough commented on #128
Fixed in master

[2016-05-23 11:36] priseborough commented on #141
I can't get you log to work on the replay. Will investigate further.

[2016-05-23 11:43] priseborough commented on #141
It's because https://github.com/PX4/Firmware/pull/4382 was not finished. If you want help with the EV feature, then you must get that PR cleaned up, tested and pulled into master. @LorenzMeier for info.

[2016-05-23 11:50] devbharat commented on #103
I really do not have the resources now to conduct this test outdoors. Either we let this hang till I get the dataset with the temperory solution being disabling GPS when using vision, or we close it and reopen if the issue is observed again.

[2016-05-23 22:45] #103 closed

[2016-05-24 23:11] pickledgator commented on #141
Thanks, @priseborough. Will get an updated log out when #4382 is resolved.

[2016-05-25 01:56] pickledgator opened #151 "Specifying desired height sensor"
Per [control.cpp#L452-L470](https://github.com/PX4/ecl/blob/e2d9e19a5dde27e8db0d8f838ddd614bfd4b0f1b/EKF/control.cpp#L452-L470), what is the motivation for adding the _control_status.flags.XX as logical ors inside the if/else statements for baro/gps? Are we trying to limit the height sensor fusion to one sensor only or fuse all that are available?

If the prior, seems to make sense to add add a pa

[2016-05-25 02:34] priseborough commented on #141
@pickledgator Can you please get a replay log using the following branch and send it too me as @devbharat is currently unable to generate logs. This will help me get #4382 resolved.

https://github.com/priseborough/Firmware/tree/px4_push_ev_Ekf2_replay

TXS

[2016-05-25 05:36] pickledgator commented on #141
@priseborough I pulled in your branch compiled and flash, but apparently my logs are still corrupt. They open in FlightPlot, but are missing tons of fields like, LPOS but have fields like attitude. When the px4log is loaded, it says there are errors but I have no idea how to troubleshoot this. My process was to pull down PX4/master, then merge in your branch and add the few lines of modifications

[2016-05-25 05:41] devbharat commented on #141
Are you talking about the replay log ? I does not log LPOS etc, only replay stuff (test RPL1.t) and attitude. So that is OK.

[2016-05-25 05:44] priseborough commented on #141
I think I know what the problem could be - the changes to the field descriptor for the RPL5 message did not make it into the PR. I will fix that now.

[2016-05-25 06:07] pickledgator commented on #141
Pulled in the change and collected a log. No errors when running the posix_sitl_replay. Changed PRIO_BOOST to 3 for this dataset. AID_MASK set to 24 -- QGC shows lpos converging to vision, still feels like the logs are missing data. Using SD card that came with pixhawk, so assuming that is sufficient.

https://www.dropbox.com/s/bqdkoi62x3j4ddi/log001.px4log?dl=1
https://www.dropbox.com/s/cymfzflsj

[2016-05-25 06:37] priseborough commented on #141
OK, so no RPL5 messages were extracted and there are lots of warnings about bad bytes in the log . I found a bug in the replay program which has been fixed so have pushed this and another minor correction, but neither explain the bug. @tumbili are you able to do a review of the RPL5 message logging to see if you can find anything?

[2016-05-25 06:48] pickledgator commented on #141
I'll dig in a bit more in the morning with some console prints to see if I can track down the lack of RPL5 data.

[2016-05-25 20:26] pickledgator commented on #141
Ah! Found it. Check the enum numbering here: [sdlog2_messages.h#L561-L623](https://github.com/priseborough/Firmware/blob/27ad3cd3d1d67991d942edf265afa10440c746e1/src/modules/sdlog2/sdlog2_messages.h#L561-L623). There are multiple of the same number. I'll let you fix it in your PR so we don't have to do two merges. Fixing the enums results in px4logs with no errors, and the RPL data is there.

[2016-05-26 00:07] priseborough commented on #141
pushed the fixes

[2016-05-26 01:53] priseborough commented on #141
Can you please record some more data using the updated branch. The enum numbering used for the logging and replay have to be consistent.

[2016-05-26 18:33] pickledgator commented on #141
This should have the correct enums from your PR.
http://logs.uaventure.com/view/w9UrF6JWWbQageMVdp4mZ3

[2016-05-26 23:28] priseborough commented on #151
The original intention was to provide a structure to allow fusion of multiple height sources, but the height offsets were problematic unless additional states were added

[2016-05-27 00:17] priseborough commented on #141
The replay results using your data with https://github.com/PX4/Firmware/pull/4647 were excellent. I will enable adjustment of the position noise via parameter given it is not yet supported over mavlink and then I think it should be good to pull in.

![pos ned](https://cloud.githubusercontent.com/assets/3596952/15593902/c53dbaa2-23f3-11e6-9d61-e793bac917e0.png)
![posd innov](https://cloud.githubuse

[2016-05-27 00:48] pickledgator commented on #141
Awesome, looking forward to pulling in the updates and running a test flight.

[2016-05-27 08:07] julianoes commented on #140
@priseborough I tried to set the sample rate divider to 1 but I didn't see any effect on the number of samples waiting in the buffer to be emptied.

Looking at the register map I realized that the option is not available for 8 kHz sampling.

FCHOICE_B is 0b00 so FCHOICE is 0b11, that's ok.

However, DLPF_CFG is 0 because we want 8kHz sample frequency (BW 250Hz). If we set it to 1, we only get 1 kH

[2016-06-01 17:12] pickledgator commented on #141
Hoping to run a full flight test of the new EV changes sometime this afternoon. Will provide log after collected.

[2016-06-01 17:13] #151 closed

[2016-06-12 09:37] gauxonz opened #162 "Please make your job citable"
Hi guys,
I'm doing some fusion algorithm research and has some work based on your code, so could you make the repo more friendly to be cited? The instruction is [here](https://guides.github.com/activities/citable-code/).
Many thanks!

[2016-06-12 09:52] LorenzMeier commented on #162
Thanks, done!

[2016-06-12 09:52] #162 closed

[2016-06-15 08:43] #125 closed

[2016-06-16 08:23] priseborough commented on #141
@pickledgator what is the status on your testing? If it was successful, then we can close this - if not can you please provide replay logs. TXS.

[2016-06-16 08:28] priseborough commented on #140
@ndepal, @CarlOlsson , @julianoes my understanding is that this issue has been addressed through a combination of tuning changes, enhancements to the output observer and fixes to hardware in some instances. If not can you please provide a replay log. TXS.

[2016-06-16 17:13] pickledgator commented on #141
Had a crash on inav (with corrupted log unfortunately since we had to pull power), so in process of hardware rebuild. Hope to be able to run another ECL flight log by the end of next week.

[2016-06-16 21:34] CarlOlsson commented on #140
I agree, for me changing the mounting and the drivetrain eliminated the problem

[2016-06-17 10:34] ndepal commented on #140
Yes with the new damping method the performance is quite good. I still observe some small jumps which appear to be caused by IMU sampling issues discussed above. But as this is not an ecl problem, I would consider this issue resolved

[2016-06-17 11:36] julianoes commented on #140
@ndepal: I haven't seen this spikes myself recently. Is this with latest master? Can you send me a logfile?

[2016-06-20 08:32] ndepal commented on #140
No, that was actually a few weeks ago, you're right. I can't test latest master on snapdragon right now, but I'll let you know if I encounter it again.

[2016-07-01 07:36] priseborough opened #168 "Implement improved output observer"
A significant reduction in output predictor tracking errors due to bad IMU data has been achieved here:

https://github.com/ArduPilot/ardupilot/pull/4399

This output observer concept needs to be implemented in ecl

[2016-07-01 07:39] priseborough opened #169 "EKF: Only use corrected delta angles and velocities where appropriate"
The delta angle and delta velocity auto-code variables in the covariance prediction calculations are supposed to be using uncorrected values, eg

https://github.com/ArduPilot/ardupilot/pull/4399/commits/501845e25bebd1242035b05c3cc20a437df26ccd

[2016-07-01 23:23] priseborough opened #170 "EKF: 3D mag fusion should reject all axes if one axis fails innovation check"
This has contributed to a crash caused by large magnetometer errors when the vehicle switched from yaw to 3D fusion.

[2016-07-07 09:19] priseborough opened #172 "EKF: come up with recommended default tuning parameters for lower quality boards"
This user log with a pixhack board had  large vibration errors on the accelerometer and very noisy baro data that caused a temporary loss of height reference. A different set of tuning defaults would have prevented this.

Note: The internal isolation design of the pixhack is poor and can cause clipping if resonance of the mount occurs. Unfortunately there are lots of those boards out there and use

[2016-07-07 09:30] LorenzMeier commented on #172
@priseborough Can share the exact param names for these?

[2016-07-07 10:55] priseborough commented on #172
EKF2_ACC_NOISE = 0.5
EKF2_BARO_NOISE = 3.0

[2016-07-07 10:56] LorenzMeier commented on #172
Thanks!

[2016-07-07 12:59] CarlOlsson opened #173 "Handle dual GPS in ekf2"
@LorenzMeier @priseborough
Dual GPS is now supported in PX4/Firmware but not in EKF2. Here is a plot of a switch of module.
![selection_079](https://cloud.githubusercontent.com/assets/7795133/16653852/497c8ed6-4453-11e6-9df6-7e862fd29e94.png)
We should specify how to handle it and we would be happy to work on it.

[2016-07-07 13:33] priseborough commented on #173
It is the jump in position that is the problem. One option is to apply an offset to the GPS when you switch so that it matches the previous active unit (if available) or the EKF position at the time of the measurement (need to allow for GPS delay). That position offset could then be decay radially to zero at a slow rate rate, eg 0.1 m/s.

[2016-07-28 14:37] dagar opened #179 "EKF: airspeed fusion and wind estimate"
I'm interested in using EKF2 for fixed wing flights, but I see airspeed fusion is currently disabled. What needs to be done to enable airspeed fusion? I can help with testing and debugging.

https://github.com/PX4/ecl/blob/eaae95fdc4e48e3946a463941dfb9d5e495e975f/EKF/control.cpp#L744

[2016-07-29 08:30] CarlOlsson commented on #179
Hi @dagar great that you want to start using airspeed fusion and can help with debugging!
We have been flying with airspeed activated for many weeks and it was all fine until we hit a corner case a couple of days ago where the wind states diverged. @priseborough helped track down the problem to how the wind state variances are currently initialized. This have to be changed. Regarding [synthetic si

[2016-08-03 09:18] CarlOlsson commented on #173
@priseborough this should be easiest to handle outside of the ecl library, do you agree?

[2016-08-03 16:44] priseborough commented on #173
Agree. My preference is to perform any sensor switchover outside the library. This would include other examples of dual sensors (Baro, airspeed, etc).

[2016-08-11 01:44] dagar opened #181 "ECL_PitchController body_fixed_turn_offset issue"
The ecl pitch controller body fixed turn offset is an additional term added to the rate setpoint.

https://github.com/PX4/ecl/blob/master/attitude_fw/ecl_pitch_controller.cpp#L153

    float body_fixed_turn_offset = (fabsf((CONSTANTS_ONE_G / airspeed) *
				  		tanf(constrained_roll) * sinf(constrained_roll)));

With large roll angles this term becomes enormous and causes problems like in this rec

[2016-08-11 06:27] LorenzMeier commented on #181
I guess that sounds a reasonable start. Or the value it would assume at 30 or 40 degrees roll and lock it there.

[2016-08-11 06:44] tumbili commented on #181
@dagar Can you please post the entire log?

[2016-08-11 13:47] dagar commented on #181
What about constraining the roll it uses for the offset calculation to +- roll setpoint? Then the offset is based on the planes actual roll, but will never go beyond the roll limits, and will only be active during a commanded turn. I need to think through the inverted logic.

[2016-08-11 14:00] mujahid-abdulrahim-p commented on #181
The issue here is that the body_fixed_turn_offset term attempts to compensate for the tilted lift vector and prevent altitude loss at large roll angles.  The term is useful for relatively small angles, but beyond some roll angle, the appropriate response might be to stop trying to maintain altitude and allow the aircraft to recover to a normal operating condition.  Even for aircraft that can fly k

[2016-08-12 07:44] tumbili commented on #179
@dagar I think #183 would be ready for a test flight. If it's possible then it would be nice if you could enable replay EKF2_RPL_EN=1 so that we can track down any remaining issues with replay.

[2016-08-12 13:24] dagar commented on #179
I've never tried ekf2 replay logging, can px4fmu-v2 handle it?

[2016-08-12 13:48] tumbili commented on #179
@dagar yes it can! Make sure not to use the shittiest SD card you find.

[2016-08-12 19:56] dagar opened #185 "ECL_L1_Pos_Controller::navigate_loiter fly to center"
Is there a reason l1 navigate_loiter always (usually?) navigates to the center first before joining the loiter? It seems like it would be much cleaner to directly enter the loiter and avoid the huge awkward turn.
Just checking before I start changing something I don't yet fully understand.

[2016-08-12 20:48] LorenzMeier commented on #185
I think we should indeed target the loiter radius instead right away (setting the acceptance radius as loiter + acceptance radius should do that already, no?)

[2016-08-12 20:48] LorenzMeier commented on #185
@dagar Should IMHO be a simple fix based on acceptance radius

[2016-08-16 20:24] mkschreder opened #187 "Add reference papers as pdfs to this repo"
It would be very helpful to have a set of reference papers (PDFs) to follow when understanding implementation of this estimator.

Can you push them all into a folder called "references"?

[2016-08-22 05:09] dagar commented on #185
I gave that a quick try adding distance to the waypoint (center) as another condition for the crossover.
https://github.com/PX4/ecl/blob/master/l1/ecl_l1_pos_controller.cpp#L292
Most of the time it works as intended (an improvement), but occasionally I saw some weird behavior turning the wrong way I'm not comfortable with.

[2016-08-27 10:26] CarlOlsson commented on #173
@LorenzMeier I implemented this for us and it works well, plots from switching GPS module twice while airplane is stationary on the ground. Test ratio > 1 corresponds to GPS being rejected by the EKF.
![1](https://cloud.githubusercontent.com/assets/7795133/18026715/b7e5f5cc-6c50-11e6-86c7-d0b94faf006e.jpg)
![2](https://cloud.githubusercontent.com/assets/7795133/18026722/d28842fe-6c50-11e6-9cf7-1bb

[2016-08-27 10:41] priseborough commented on #173
UBlox receivers provide a number of quality metrics that can be used for selection logic (horizontal accuracy, speed accuracy, etc).  Speed accuracy is usually an early indicator of data quality problems, whereas the horizontal and vertical position accuracy figure takes longer to degrade.

If your solution involves decaying a switchover position offset correction offset to zero, it may help to of

[2016-08-29 06:46] CarlOlsson commented on #173
Thanks Paul. This is indeed very interesting and we should definitely look into it at some point, right now we base the switching logic only on regime (hover/cruise). However, what I meant was more focused on in which module to switch GPS and how to publish it. Maybe that is indeed a bigger question on how to handle redundant sensors in general such that every module doesn't have to decide on its

[2016-09-17 09:52] RomanBapst opened #192 "Verify delay accounting for down-sampling of sensor data"
The baro and the mag measurements have been accounted for an additional delay
which stem from down-sampling techniques of the sensor data (see e.g. https://github.com/PX4/ecl/blob/master/EKF/estimator_interface.cpp#L204). We have to verify if in those two cases any down-sampling is actually happening.

[2016-09-19 11:40] CarlOlsson commented on #44
[Here](http://logs.uaventure.com/view/npxmVkZpUTnGTGgEYFaQpU) is a log from a 4 minute flight which shows the baro drifting 1.4 meters.  What is also interesting is that the global position estimate drifted 2.4 meters, i.e. more than the sensor itself.

[2016-09-23 07:33] CarlOlsson opened #194 "Altitude estimate is drifting"
Here is another <4 min flight where the baro didn't drift at all but the altitude estimate drifted 7 meters.
[Logfile](http://logs.uaventure.com/view/DmABoaBZ8g39aqSvBQpBc7)

[2016-09-23 07:39] CarlOlsson commented on #194
This was caused by hardware failure and altitude "drifted" after impact.

[2016-09-23 07:39] #194 closed

[2016-09-23 07:54] tumbili commented on #194
@CarlOlsson I think the effect you are seeing is due to the effect that the vehicle hit the ground at the end.
If you look at your baro innovations then they don't showy any long term bias, so I don't think this is a problem.
![baro_vs_lpos](https://cloud.githubusercontent.com/assets/7610489/18778250/c1440eaa-8173-11e6-8928-349b9e7ed9d2.png)

[2016-09-23 07:57] tumbili commented on #194
@CarlOlsson What do you mean by hardware failure?

[2016-09-23 08:03] CarlOlsson commented on #194
Yes in this case it was a bit difficult to say how much the altitude drifted but what do you think of the log file linked here:
https://github.com/PX4/ecl/issues/44
Why does LPOS_Z drift more than the baro?

[2016-09-23 08:57] tumbili commented on #44
@CarlOlsson  Even here, baro and the estimated height align really well and the innovations look normal.
I aligned the estimated height with the baro at the start of the log and swapped one sign to compare them.
![baro_lpz](https://cloud.githubusercontent.com/assets/7610489/18780162/87269aea-817c-11e6-9b1a-8256dbcc6a25.png)

[2016-09-23 12:52] CarlOlsson commented on #44
@tumbili yes you are right that they align pretty good, but the estimate is still drifting more than the baro (due to accelerometer noise?), so if this is normal behavior maybe we could just decrease the baro noise to trust it more?

[2016-10-06 07:00] tumbili commented on #168
@priseborough I think you implemented this in #186 Please reopen if I'm wrong.

[2016-10-06 07:00] #168 closed

[2016-10-06 07:02] tumbili commented on #140
@priseborough Closing this as well, probably outdated.

[2016-10-06 07:02] #140 closed

[2016-10-06 07:03] #181 closed

[2016-10-06 07:12] tumbili opened #197 "Adjust gps minimum noise for RTK usage"
Currently the gps noise parameters (EKF2_GPS_P_NOISE and EKF2_GPS_V_NOISE) set a limit for the minimum sensor measurement noise used for the calculation of the innovation variance.
When using RTK GPS the reported accuracy of the gps measurements will be significantly lower than the current values.
We need to investigate which minimum values make sense for the use of RTK.

Here's a plot showing inn

[2016-10-06 07:18] RomanBapst opened #198 "Compute sensor delay parameters"
We should estimate the average delay parameter of each sensor based on e.g minimizing the RMS value of the corresponding innovations. We can use the replay tool to generate replay logs for a range of delay parameters.

[2016-10-13 07:35] 1102sc commented on #187
I think it's very necessary.

[2016-10-13 07:35] 1102sc commented on #187
I think it's very necessary.

[2016-10-24 18:32] CarlOlsson opened #205 "EKF position resets"
Did three flights today with master ecl 65de4962b5fd45bbdce9d7ef84ef486c406d8e2d
[flight1](http://logs.uaventure.com/view/Nsdwvw6YVTa2bFPYnWb3AD)
[flight2](http://logs.uaventure.com/view/9oDo8aE4KuJcZebrZqhcRH)
[flight3](http://logs.uaventure.com/view/6r4fkqDtUeAB9i2Lq7322g)

In the first flight the estimator diverges completely and several position resets occur.
In the second flight the airspeed

[2016-10-24 20:12] priseborough commented on #205
The airspeed accuracy was very poor and airspeed reads zero for significant parts of the flight:

![screen shot 2016-10-25 at 7 04 28 am](https://cloud.githubusercontent.com/assets/3596952/19661951/6dba5cd6-9a81-11e6-8b4a-865b7beef04d.png)

Bad airspeed measurements can affect the states in the same way that bad GPS velocity measurements can. In this instance you have a sensor that is regularly te

[2016-10-24 21:07] priseborough commented on #205
See https://github.com/PX4/ecl/pull/206

[2016-10-26 20:41] #205 closed

[2016-10-26 20:42] #170 closed

[2016-10-26 20:55] #169 closed

[2016-10-26 20:57] priseborough commented on #169
This was fixed with the output observer updates. The delta angle and velocity bias corrections are now applied in the state predictor and output observer, not when the IMU data is pushed or pulled from the buffer.

[2016-10-26 21:00] priseborough commented on #32
c) was addressed by https://github.com/PX4/ecl/pull/196

[2016-10-26 21:03] priseborough commented on #141
Unable to reproduce. Closed due to lack of follow-up information from the OP.

[2016-10-26 21:03] #141 closed

[2016-10-26 21:09] priseborough commented on #44
@CarlOlsson If you do that then varying baro positional errors will cause larger changes in estimated height during manoeuvres or during transition in and out of ground effect. This is a compromise tune that needs to work across a wide range of setups.

[2016-10-26 21:15] priseborough commented on #22
If we want to do this, then the complexity of managing the multiple instances should be pushed onto the the PX4/Firmware side of the interface. Each EKF would then run as a seperate app. The ecl side of the interface should be kept as simple as possible given the majority of use cases do not require multiple instances.

[2016-10-26 21:15] #22 closed

[2016-10-26 21:18] priseborough commented on #179
Airspeed fusion is working: https://github.com/PX4/ecl/pull/183

[2016-10-26 21:18] #179 closed

[2016-10-26 21:22] priseborough commented on #172
If we can collect logs using the new ulog format for representative boards, then I now have a python script tool that will generate population statistics to assist in determining appropriate values.

https://github.com/priseborough/pyulog/tree/ekfAnalysis-wip

[2016-10-26 21:32] priseborough commented on #173
I am closing this and have re-opening the issue in PX4/Firmware https://github.com/PX4/Firmware/issues/5759

[2016-10-26 21:32] #173 closed

[2016-10-26 21:35] priseborough commented on #32
This remaining enhancement to do (glitch indicator) will need to be integrated with the GPS selection logic which is requested here: https://github.com/PX4/Firmware/issues/5759

[2016-10-26 21:35] #32 closed

[2016-10-31 20:50] priseborough commented on #33
Here is an example of a fixed wing affected by bad heading before launch that never recovers: http://logs.px4.io/plot_app?log=7c999b8f-1bb8-4aeb-91ba-afcc70307312

[2016-11-02 10:00] priseborough opened #211 "EKF won't initialise if a GPS or optical flow sensor isn't fitted"
When powered up without the GPS sensor connected and EKF2_IMU_MASK = 1 or 0, there is no attitude solution at the HUD and the ESC's keep beeping indicating the filter has not started. Seems to have been introduced by 968cfae632d499e2e5afd0e9a14e01b52953be97

[2016-11-04 22:28] priseborough commented on #211
Fixed by https://github.com/PX4/Firmware/issues/5791

[2016-11-04 22:28] #211 closed

[2016-11-05 09:31] LorenzMeier commented on #185
I'm closing this since the behaviour you saw seems fine. We might want to tune some of the tresholds by e.g. entering the loiter earlier than you currently have.

[2016-11-05 09:31] #185 closed

[2016-11-11 15:06] xuyongzhi commented on #187
It would be great help!

[2016-11-25 23:01] #24 closed

[2016-11-25 23:02] priseborough commented on #24
Done

[2016-12-09 08:53] priseborough opened #217 "Improve tolerance to negative pressure altitude offsets caused by ground effect"
Some models of multi-rotors experience a significant negative pressure altitude offset when operating in ground effect. This can cause height overshoot followed by sink immediately after take-off and can cause very low sink rates, pop-ups, land detector failures and tip-overs on landing.

Logic is required to deal with these errors.

[2016-12-13 17:42] LorenzMeier opened #218 "GPS velocity glitch feeding into estimation"
@priseborough This GPS velocity glitch is feeding into the estimation pipeline (it has no position glitch associated it seems). Is this something you feel we can guard against?

http://review.px4.io/plot_app?log=4624b22c-2e0d-42f3-ae82-7f56645cbbf0

[2016-12-13 21:05] priseborough commented on #218
We already have innovation consistency tests for GPS which were operating for this flight. Here are the normalised test ratios and Innovation plots for the various observations. Inspection of data shows that the significant flight event was  not due to a GPS velocity glitch.

1) An inertial sensing error at 260 seconds drags the height estimate away from the Baro and GPS an requires a reset. This

[2016-12-13 21:14] LorenzMeier commented on #218
Thanks! The GPS signal is multi path below trees. Nasty, but not totally uncommon. Can you send a PR for the default param change?

[2016-12-13 23:25] priseborough commented on #218
Will do

[2016-12-13 23:32] priseborough commented on #218
Yes the surrounding trees would have reduced the SNR and increased velocity noise, however a good GPS installation would normally not be bothered by that level of obscuration.

[2016-12-20 23:20] jywilson opened #222 "Addition of FLT_EPSILON reference has broken the Snapdragon build on master"
@LorenzMeier
After the following commit:
https://github.com/PX4/ecl/commit/6f78ef408425d5b9bc7e0eaceb1af9e5fd73b424

The build for the Snapdragon Flight board produces the following errors:

/local/mnt/workspace/jenkins-slave/workspace/PX4_External_CI/src/lib/ecl/validation/data_validator_group.cpp:154:23: fatal error: use of undeclared identifier 'FLT_EPSILON'
) && (confidence > FLT_EPSILON)) {
^

[2016-12-21 07:11] LorenzMeier commented on #222
Thanks. Fixed on 1e625d024cb25842e77c5c88959bea6bdda28350. We need to get Snapdragon back into CI. @dagar I believe there was a specific blocker to that?

[2016-12-21 07:11] #222 closed

[2016-12-21 21:26] jywilson commented on #222
There is still one issue.  Nothing major.  I filed it here:
https://github.com/PX4/Firmware/issues/6125

[2016-12-23 22:23] pickledgator opened #224 "Height from ev missing counter update"
If ev data is selected as primary source for both position and height data, it looks like we are missing a counter update for the [height measurements](https://github.com/PX4/ecl/blob/master/EKF/ekf.cpp#L343-L345).

ev counter is updated [here](https://github.com/PX4/ecl/blob/master/EKF/ekf.cpp#L273-L288), but doesn't do anything for the height counter (since most of those updates are a few lines

[2016-12-26 12:59] LorenzMeier opened #225 "ECL verbosity"
@priseborough It would be nice if ECL could be less verbose on boot. Changing from:

[code]
to:
[code]

You can still keep any error messages. We're following the POSIX design pattern: No news is good news and components should offer as little positive notifications as possible.

On the flip side *every* error must be handled and reported. Taking this principle to the extreme does show errors much

[2017-02-17 11:15] FarmerLjx opened #240 "Cmake lists error"
Open as a CLion project, and get this output by Cmake:

CMake Error at CMakeLists.txt:37 (px4_add_module):
  Unknown CMake command "px4_add_module".

[2017-02-21 04:32] psiphi75 commented on #240
I get the same issue.  I just want to compile the files in `elc/EKF/tests/base/`.  I run 'cmake ./` from that folder and get:

[code]

[2017-02-21 05:25] dagar commented on #240
The current top level CMakeLists.txt is used for including ecl in PX4 Firmware. If you want to build EKF2 standalone use EKF/CMakeLists.txt or run build.sh.

[2017-02-23 09:31] FarmerLjx commented on #240
build.sh worked for me, but made some changes to eliminate compilation errors.

diff --git a/EKF/CMakeLists.txt b/EKF/CMakeLists.txt
index 0d7d6a9..cb3b107 100644
--- a/EKF/CMakeLists.txt
+++ b/EKF/CMakeLists.txt
@@ -66,6 +66,8 @@ set(SRCS
        mag_fusion.cpp
        gps_checks.cpp
        airspeed_fusion.cpp
+       optflow_fusion.cpp
+       terrain_estimator.cpp

[2017-02-23 14:23] dagar commented on #240
@FarmerLjx can you open a pull request?

[2017-02-27 04:43] FarmerLjx commented on #240
It is just add two source files to the *SRCS*, so really need a pull request? I'm still learning how to use my data to test the effect of EKF.

[2017-02-27 05:25] dagar commented on #240
That's how anyone, including developers with write access to the repository
would make this small change.

On Sun, Feb 26, 2017 at 11:43 PM, ljx <notifications@github.com> wrote:

[2017-02-27 05:46] #240 closed

[2017-02-27 06:05] FarmerLjx commented on #240
Ok, i see, thanks!

[2017-03-06 05:53] zfurman56 opened #246 "Estimator altitude error"
I'm having an issue with the estimator altitude - it exhibits large deviation from baro altitude. This is flying on a somewhat unusual platform - a mid-power model rocket. It only shows up on some flights. This is a Pixracer, with EKF2_HGT_MODE set to zero (baro is primary altitude source).

The issue looks like this:
(I flipped and offset the estimator z position such that it matches up with the

[2017-03-06 07:06] tumbili commented on #246
@zfurman56 Hi Zach, very interesting log file, never seen one from a rocket before.
I just had a quick look at both of your logs and have the following comments:

1) I think you can see the problem in both logs, however, a height reset only occurred in one of them.
2) The vertical velocity innovations have the opposite sign to the vertical height innovations. It actually looks like the gps vertica

[2017-03-06 07:33] zfurman56 commented on #246
We're currently using a Ublox M8N GPS, set to maximum dynamics (which is unfortunately "4g", but it's not a hard limit, and it's not clear what the exact effect is on GPS output). Do you have a recommendation of a better GPS with a larger dynamics range? In terms of replay logs, we're hoping to fly again next weekend, so we should be able to get a replay log then.

[2017-03-06 09:05] priseborough commented on #246
Unless the baro is sensing pressure via a properly placed static pressure port, it will be unusable at high speed due to positional errors.

[2017-03-06 09:44] priseborough commented on #246
The accelerometer is limited to 16g internally, and because of the effect of filtering, for short burn time model rocket motors this can be exceeded even if the output is not saturated. your g's are peaking at over 13 post filtering, so I would not be surprised if the IMU accel is saturating. Try a lower peak thrust, longer burn time motor with the same impulse.

[2017-03-06 11:52] ajaybhatt003 commented on #246
Hello,
Can anybody tell me how to get delta velocities used as control inputs NOT observations here practically from pixhawk.
Thanks

[2017-03-06 16:41] zfurman56 commented on #246
@priseborough Thanks for the quick reply. The baro is placed in a chamber with four small holes as pressure ports (fairly standard for model rockets). The delay should be around 50 ms and the noise should be plus or minus a foot.

The engine we're currently using is the [AeroTech F52](http://www.nar.org/SandT/pdf/Aerotech/F52.pdf). As you can see, the peak thrust is about 80 Newtons. Our rocket cu

[2017-03-06 22:43] priseborough commented on #246
**Further Observations**

Structural dynamics can produce high frequency vibration on motor ignition that can clip the IMU's internal 16g limit, so the IMU can still be saturating internally as you are operating close to sensor limits.
All position, height  and velocity innovations fail innovation checks immediately after motor ignition.
Spin rate on boost is high given the scale factor errors tha

[2017-03-10 12:46] Gangti opened #249 "How attitude is corrected by accelerometer in EKF2"
Hi, all

I'm currently trying to understand EKF2 implementation. I found yaw angle could be corrected by magnetometer, but cannot understand how pitch/roll angle is corrected by accelerometer, for accelerometer isn't taken as an observervation.
However, I've noticed that following code seems related to pitch/roll angle correction, for when I commented it out, the pitch/roll angle drifting slowly.

[2017-03-10 21:22] priseborough commented on #249
It's hard to explain briefly. The EKF compares the velocity velocity and position predicted by the inertial navigation calculations with the GPS measurements and is able to use the inconsistency to estimate the error in the attitude. I recommend you study the matlab derivation and take a course in Kalman filtering theory and inertial navigation if you wish to understand it.

https://github.com/PX4

[2017-03-10 21:23] #249 closed

[2017-03-12 06:39] zfurman56 commented on #246
@tumbili I'm trying to get a replay log tomorrow, but I'm not sure what exactly I'm supposed to change to get a replay log. You linked me to the documentation for replay here: https://dev.px4.io/advanced-replay.html. But the instructions there seem to indicate that the topics are logged at full rate by default, and that no changes need to be made to get a replay log. And replay appears to work wit

[2017-03-12 07:22] tumbili commented on #246
@zfurman56 I was referring to the old depriciated replay method. You should be able to run a replay on your log file. Just follow the instructions.

[2017-03-12 17:08] Gangti commented on #249
@priseborough
Thanks for your explaination. I'll study related materials.
BTW, it seems that GPS is a necessity for correction of attitude, velocity and position.
Only with MAG, no GPS, for EKF2, I think yaw will be corrected, and velocity/position will drift. but will attitude(roll/pitch) drift of not?
Maybe I should disconnect GPS in Pixhawk, and take a look of the EKF2 output.

[2017-03-12 20:59] priseborough commented on #249
Without GPS, the filter operates in a mode where it uses position observations at the last known position. This constrains roll pitch drift errors provided the vehicle is not doing sustained horizontal manoeuvres.

[2017-03-13 03:22] Gangti commented on #249
@priseborough
Thanks for your reply. It does helps to understand EKF2.
Without GPS, as the comment of vel_pos_fusion.cpp says "No observations - use a static position to constrain drift", if the vehicle does standstill, the attitude estimation should be correct. Just as the condition you mentioned "provided the vehicle is not doing sustained horizontal manoeuvres".
In other words, if the vehicle i

[2017-04-11 15:28] bartslinger opened #260 "GPS Altitude not recovering"
When using GPS altitude as primary height source and the GPS turns bad, it falls back to baro height. However, if GPS gets back, the primary height source stays baro.

[2017-05-10 15:02] dennisss opened #271 "EV/Mocap Local Position Incorrect"
I am running with the latest PX4 master modified very slightly to use the att_pos_mocap mavlink message for external vision input to EKF2 (https://github.com/dennisss/Firmware/blob/tansa-next/src/modules/ekf2/ekf2_main.cpp#L758)

I've configured the parameters as:

When running in hover using an external controller, all the local position axes diverge randomly (all these lines should be flat)

<im

[2017-05-10 23:24] dennisss commented on #271
Nevermind, hardware issue

[2017-05-10 23:24] #271 closed

[2017-06-20 12:13] ChristophTobler opened #284 "Height reset redundant statement"
In https://github.com/PX4/ecl/blob/7f1cca5b28087055f8343ec069852bedd3b86cd7/EKF/control.cpp#L483, the first statement is always true since `_params.hgt_reset_lim = 0.0f` (https://github.com/PX4/ecl/blob/7f1cca5b28087055f8343ec069852bedd3b86cd7/EKF/common.h#L231 and there is no parameter that the user could set)

Wouldn't it make sense to compare `P[9][9]` with the IMU variance?
And if the first st

[2017-06-23 09:40] JohannesFriis opened #287 "Sideslip based Wind Estimation"
It seams there is a problem with wind estimation without airspeed sensor. The estimated wind speed is very close to zero and in general 1/10 - 1/20 of what I would have expected. The problem is observed when flying PX4 tag v1.6.3 on a AERT FW (twinstar) using the setup described in https://github.com/PX4/ecl/pull/207 The controller is a pixhawk.
Last known working setup for wind estimation is PX4

[2017-06-23 14:09] dagar commented on #287
Log on flight review - http://logs.px4.io/plot_app?log=44333367-d383-4491-a7c8-2fae5be8f67d

EKF log process output (./Tools/ecl_ekf/process_logdata_ekf.py)
[08_16_30.ulg.pdf](https://github.com/PX4/ecl/files/1098011/08_16_30.ulg.pdf)

[2017-06-26 06:46] JohannesFriis commented on #287
Thanks for running my log.

I am still confused why the wind_estimate topic logs so little wind. I believe there was a great deal more wind that day than what was logged

![wind_estimate](https://user-images.githubusercontent.com/29654263/27527416-eae01e1e-5a4b-11e7-8ab3-d5448e010508.PNG)

[2017-06-29 12:55] JohannesFriis commented on #287
Hi @dagar and @priseborough

I Have been doing some code comparison with older ECL versions to try to locate the change that causes loss of a valid wind estimation. as described above.

I Have established 2 critical changes so far

- 10 Apr commit 9f48c0505bb093cabbb1b8818131422eb4dc0ed0
EKF/covariance.cpp l.207 changes a threshold for wind velocity state variances. from 1000 to 2.

Have this been

[2017-06-29 15:44] ChristophTobler opened #290 "Use baro for ekf alignment"
I think it would make sense if we stick to baro only for alignment (as we already do for GPS) -> https://github.com/PX4/ecl/blob/7f1cca5b28087055f8343ec069852bedd3b86cd7/EKF/ekf.cpp#L207-L259. Because on many setups the range finder outputs rubbish/measurements outside of max/min when close to ground. Therefore the ekf never aligns.

@priseborough what do you think? Is there something against that

[2017-06-29 16:31] mhkabir commented on #290
I ran into this, haha. Took me an hour to figure out why the EKF wouldn't initialise :P

[2017-06-29 22:40] priseborough commented on #287
I will submit a fix for this today. I will to look at the auto tester to see how these defects introduced  passed fixed wing SITL testing.

[2017-06-29 22:48] priseborough commented on #287
@JohannesFriis  Would you be able to provide a  log gathered using SDLOG_MODE=1 and EK2_REC_RPL=1 ? If you use a high quality U3 SD card (eg Sandisk extreme) then logs can be gathered without any loss of data. I can use it to test the changes on replay.

 I do not have a fixed wing platform available for PX4 testing and SITL has a time-slip problem running on my computer.

[2017-06-29 23:05] dagar commented on #287
EKF2_ARSP_THR defaults to 0 and isn't being changed for FW (including SITL tests).
EKF2_FUSE_BETA is also always off.

Should we do a pass and make sure the testing is running with reasonable EKF settings?

Have you tried running gazebo headless?

    HEADLESS=1 make posix_sitl_default gazebo_standard_vtol

[2017-06-29 23:27] priseborough commented on #287
No I haven't tried the headless mode.  How do I test a fixed wing (non VTOL) flight that is representative of a hand or catapult launch?  It is important that we get the same immediate transition from stationary into forward flight.

I also think there is more going on with the OP's log. The GPS velocity is rejected immediately on launch before any sideslip observations are fused which combined wi

[2017-06-29 23:27] priseborough commented on #287
<img width="805" alt="screen shot 2017-06-30 at 9 27 39 am" src="https://user-images.githubusercontent.com/3596952/27714761-620bd726-5d76-11e7-9816-a5186e03c438.png">

[2017-06-29 23:32] priseborough commented on #287
I think the reduction in initial wind uncertainty combined with the sideslip fusion has made the filter more vulnerable to initial yaw errors. I will make the initial uncertainty a parameter so it can be tuned for different applications, but the long term fix is to do what ArduPilots EKF's do for fixed wing which is if large GPS velocity innovations are detected on launch, the vehicle yaw is reali

[2017-06-29 23:53] priseborough commented on #287
I found the logic bug introduced by the drag fusion that is preventing proper wind estimation for fixed wing in Ekf::controlDragFusion().

[2017-06-29 23:56] dagar commented on #287
I'm not sure about simulating hand or catapult launch in gazebo, but the current gazebo plane model is probably unrealistically powerful.

    HEADLESS=1 make posix_sitl_default gazebo_plane

Beyond that please let me know if you think it's valuable to simulate something faster and I'll figure out how to give it an initial velocity.

[2017-06-30 01:17] priseborough commented on #290
@ChristophTobler  Its a  valid option, the baro is the most reliable  sensor on startup. The only other way to handle it I can think of would be to change the range finder driver to return the minimum value if not flying and the reading is outside the valid range.

[2017-06-30 02:08] priseborough commented on #287
I found another instance of this bug here: http://review.px4.io/plot_app?log=a385efa2-060b-43be-aa76-9b2244aff892 affecting a fixed wing vehicle with good compass.

[2017-06-30 07:09] LorenzMeier commented on #290
The driver change would mask the missing reading, which would potentially hide real HW issues.

[2017-06-30 07:37] ChristophTobler commented on #290
@LorenzMeier I agree. And the driver should work independent of the flight status.
So I will change it to use baro if there aren't any objections.

[2017-06-30 09:46] JohannesFriis commented on #287
Hi @priseborough

i Have tried to generate the log file that you requested. I have no prior experience with EKF replay so I hope the log contains the info you need. The firmware is still tag v1.6.3 and SDLOG_MODE=1 and EK2_REC_RPL=1 as you requested. The best SD card I had available was a 32GB samsung UHS1 pro plus card. I Hope it is fast enough.

Is there a more extensive guide to EKF replay than

[2017-06-30 12:50] priseborough commented on #287
That EKF replay method has been deprecated and I have requested that the corresponding documentation be removed. Please follow the EKF2 replay section here: https://dev.px4.io/en/debug/system_wide_replay.html#ekf2-replay

[2017-07-03 06:49] bkueng commented on #287
https://github.com/PX4/Devguide/pull/212

[2017-07-03 07:39] JohannesFriis commented on #287
Hi @priseborough

I Have been looking i to the fix that was made to resolve the problem and I'm looking forward to flying it during this week.
I have one small remark.

in covariance.cpp  Ekf::resetWindCovariance()

l- 860-861 I would assume that you intend to do a reset to the new uncertainty parameter
	P[22][22] = sq(_params.initial_wind_uncertainty);
	P[23][23] = sq(_params.initial_wind_uncerta

[2017-07-03 07:51] priseborough commented on #287
Yes, using that parameter for the reset was intentional.

Something else you might want to try is setting EKF2_MAG_ACCLIM and EKF2_MAG_YAWLIM to 0

That will prevent the switching between mag fusion methods that works well for multi-rotors but had not worked well for some fixed wing logs I have seen recently.

[2017-07-03 11:23] #290 closed

[2017-07-10 03:49] lachyd opened #296 "Vision Position constantly re-initializing"
Using vision position constantly prints out "EKF commencing external vision position fusion", and resets the estimator.

I believe the fix is to add the following directly after line 152 of control.cpp (where it says resetHeight();):

_control_status.flags.ev_pos=true;

This follows the same convention as the ev_yaw conditional below it and works well in simulation.

[2017-07-10 05:45] nicolaerosia commented on #225
@LorenzMeier I believe this can be closed

[2017-07-10 05:48] LorenzMeier commented on #225
Thanks! And I will work hard to get your PR's in this week after we've released 1.6.4

[2017-07-10 05:48] #225 closed

[2017-07-12 03:19] mhkabir commented on #296
@lachyd How are you simulating vision estimates in simulation?

[2017-07-12 03:32] lachyd commented on #296
Using gazebo and ROS. I have a laser scanner mounted on the drone in my gazebo model, which I feed into an SLAM algo and pass the resulting coordinates to PX4 via the mavros vision position topic.

[2017-07-12 03:38] mhkabir commented on #296
What Z position measurement are you sending with the pose? The scanner only gives you a 2D estimate.

[2017-07-12 03:45] lachyd commented on #296
I'm using a rangefinder for the Z measurement.

[2017-07-12 04:33] mhkabir commented on #296
Makes sense. Can you please send in a pull request with your fixes?

[2017-07-12 04:45] lachyd commented on #296
Done, thanks!

[2017-07-12 15:57] CarlOlsson opened #299 "innovation checks are ignored for get_terrain_vert_pos() return value"
in ekf2_main.cpp we have
[code]

this functions returns true if the terrain estimate is initialized and _range_data_continuous is true.
_range_data_continuous is true if range data is continuously fed into the estimator.

So the lpos.dist_bottom_valid flag is set to true even if the range sensor measurements are failing the innovation checks and are rejected by the ekf.

[2017-07-12 17:18] mhkabir commented on #299
Was just about to open an issue for this exact thing. Thanks, you beat me to it!

In order to consolidate terrain following behaviour (i.e controller use the terrain altitude for Z) in range aid mode, we need working correctly. @ChristophTobler.

[2017-07-13 06:22] #296 closed

[2017-07-13 07:32] ChristophTobler commented on #299
I can have a look at it. Thanks!

[2017-07-13 15:29] ChristophTobler commented on #299
fixed in https://github.com/PX4/ecl/pull/301

[2017-07-13 15:29] #299 closed

[2017-07-14 12:23] devbharat commented on #299
Just as an addendum, note that there is no check to force the measured/estimated height above ground level is positive.

(This can easily happen if a faulty sensor gives _consistent_ wrong readings (say always close to 3 meters because of fog etc) causing the estimator to reset to the wrong value and propagate from there to values below zero while you are descending)

[2017-07-17 11:35] ChristophTobler opened #302 "reset height when switching to range finder?"
@jlecoeur would prefer something like

if (_control_status_prev.flags.rng_hgt != _control_status.flags.rng_hgt) {
 resetHeight();
 _hgt_sensor_offset = _params.rng_gnd_clearance;
}
instead of https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L777-L786.
To summarize, he's worried that _state.pos(2) does not estimate height when range is primary, as suggested in the doc.

[2017-07-17 12:15] jlecoeur commented on #302
Thanks for opening this @ChristophTobler, it can indeed be discussed separately.

[2017-07-18 06:11] priseborough commented on #33
This was fixed by https://github.com/PX4/ecl/pull/294

[2017-07-18 06:11] #33 closed

[2017-07-18 06:14] priseborough commented on #218
Loss of height estimation due to bad vibration mitigated by https://github.com/PX4/ecl/pull/267

[2017-07-18 06:14] #218 closed

[2017-07-18 06:20] priseborough commented on #287
Correct operation of sideslip fusion for wind estimation has been verified using replay of http://review.px4.io/plot_app?log=ed369adf-4e46-486a-bc18-14a2ed188bd0

[2017-07-18 06:20] #287 closed

[2017-08-01 17:42] chengshy opened #315 "Yaw tracking slowly when using external vision pose"
Recently, I started playing with PX4 EKF2 for sensor fusion. I really appreciate all the work you have done here!

I tested the combination with magnetometer and optical flow. The state estimation works great in both walking test and flying test. However, I have encountered some problem after I started test External vision pose fusion.

Current setup for me is only mocap pose feed in as external y

[2017-08-08 20:03] chengshy commented on #315
@priseborough Can you help me with this. I noticed you are using eular 321 and 312 conversion for quaternion but there is one line seems problematic to me. https://github.com/PX4/ecl/blob/c230663b68b8270c15f3e24fd8ca8dc08e7646b1/EKF/mag_fusion.cpp#L565
When we calculate the yaw 312, should we use Tbn_1_0_neg instead? I am not super sure about this so I want to confirm with you

[2017-08-08 21:45] priseborough commented on #315
For a yaw, roll, pitch rotation sequence

Tbn(0,1) = -cos(roll)*sin(yaw)
Tbn(1,1) = cos(roll)*cos(yaw)

Therefore

yaw = atan2(-Tbn(0,1),Tbn(1,1))

[2017-08-08 21:59] chengshy commented on #315
Thanks for your reply. I think my question is not sure whether we should apply transpose here to get the Tbn.

https://github.com/PX4/ecl/blob/master/matlab/scripts/Inertial%20Nav%20EKF/quat2yaw321.m#L11

I am a little confused here about the rotation we are using. Is it extrinsic Z-Y-X rotation for euler321 and extrinsic Z-X-Y for euler312?

[2017-08-08 22:30] priseborough commented on #315
Yes extrinsic (Tait Bryan)

[2017-08-08 23:34] chengshy commented on #315
Thanks for that. Is the quaternion_nominal (state 0 -3) is correspond to robot orienation (from body to world)? The quat_to_invrotmat function seems not implementing inverse to me.

[2017-08-08 23:53] priseborough commented on #315
Yes, from earth to body.

[2017-08-09 00:15] chengshy commented on #315
Sorry, I am still confused.
For example, at begining the quaternion is identical [1, 0, 0, 0] (w,x,y,z).  Then we do a yaw rotation pi/2.
Then the rotation corresponding to quaternion_nominal need to be (from earth to body)
[0 -1 0]          [0  1 0]
[1 0 0]           [-1 0 0]
[0 0 1]    or   [ 0  0 1]  ?

The corresponding quaternion is [0.707107, 0, 0, 0.707107] and [ 0.707107, 0, 0, -0.707107].

[2017-08-09 00:24] chengshy commented on #315
And I think function quat_to_invrotmat doesn't calculate the inverse rotation matrix from a quaternion rotation but just the roation matrix corresponds to that quaternion.

[2017-08-21 06:36] kechaofan opened #318 "I want to try the EKF2_replay function without gps data. What should I do?"
I'm using optical flow and range finder but not gps. What should I do to run the EKF_replay funciton in matlab. Since the gps data is needed in default.

[2017-09-06 11:30] #318 closed

[2017-09-29 14:12] CarlOlsson opened #328 "Missing wind_is_valid fcn"
1) Say that you launch a fixed wing aircraft with a blocked pitot. You are still able to fly based on GPS velocity, but some time into the flight there is a spike from the airspeed sensor, could be a single measurement. The EKF will initialize the wind states based on that single data point and then report the same wind states throught the entire flight. The consumer of this data will then use the

[2017-09-29 14:23] CarlOlsson commented on #328
There is a way for the consumer to check if the wind states are valid

wind_estimate message
[code]

Not so clean but it removes the need for a wind_is_valid field in the wind_estimate topic.

[2017-09-29 14:23] #328 closed

[2017-10-05 21:52] priseborough opened #332 "CI environment is failing due to pyenv deprecation"
https://travis-ci.org/PX4/ecl/jobs/283460861

[2017-10-06 21:08] broody commented on #271
Hi @dennisss, just to confirm, were you able to fly successfully with this patch? MOCAP with EKF2.

[2017-10-06 21:50] dennisss commented on #271
@broody yes. Mocap works very well with the patch.

[2017-10-09 11:21] kechaofan opened #333 "In function resetMagHeading, the reset of output_states is done twice in 321 sequence situation!"
// calculate the amount that the quaternion has changed by
		_state_reset_status.quat_change = quat_before_reset.inversed() * _state.quat_nominal;

		// add the reset amount to the output observer buffered data
		outputSample output_states;
		unsigned output_length = _output_buffer.get_length();
		for (unsigned i = 0; i < output_length; i++) {
			output_states = _output_buffer.get_from_index(i);

[2017-10-11 14:22] dagar commented on #332
@PeterDuerr any suggestions for fixing travis-ci?

![image](https://user-images.githubusercontent.com/84712/31446413-fc4e2602-ae6d-11e7-8667-6bac6412e711.png)

[2017-10-13 10:47] priseborough commented on #187
I have provided some slides and included list of references that I have found useful.

[2017-10-13 10:47] #187 closed

[2017-10-13 10:50] priseborough commented on #198
It likely varies from board to board due to differences in sensor hardware and bus configuration.

[2017-10-13 10:50] #224 closed

[2017-10-13 10:52] priseborough commented on #246
This issue has gone stale and is a low priority use case.

[2017-10-13 10:52] #246 closed

[2017-10-13 10:54] priseborough commented on #260
The switching logic has had substantial work since. I am closing this but will re-open it if someone provides a log demonstrating the behaviour on current ecl master.

[2017-10-13 10:54] #260 closed

[2017-10-17 09:35] CarlOlsson opened #336 "baro_innov_gate also controls gps gate size for height fusion"
Should we really use the baro gate size [here](https://github.com/PX4/ecl/blob/master/EKF/vel_pos_fusion.cpp#L180), if so we should update the parameter description

[2017-10-22 16:17] dagar commented on #68
Can you expand on this a bit? What would the "param" backend look like?

[2017-10-22 16:18] dagar commented on #332
Partially fixed. https://github.com/PX4/ecl/pull/344

[2017-10-22 16:24] dagar opened #346 "build system updates"
ECL should be a standalone cmake project with several libraries.
 - EKF
 - attitude_fw
 - l1
 - tecs
 - validation
 - geo (would need to be fully moved from PX4)

When included as a subdirectory in another cmake project (like PX4) the same cmake configuration would be used. https://github.com/PX4/Firmware/issues/8191

TODO
 - ECL cmake project with each component generating a static and shared lib

[2017-10-27 05:24] xmutrue opened #349 "Attitude estimate when no gps and magnetic fusion"
Will attitude estimate still works fine when no gps fusion and bad magnetic ?

It seems that ECL do not take the accelerometer into observation like ahrs.

Many thanks @priseborough

[2017-10-27 05:26] priseborough commented on #349
Without any external aiding it falls back to a mode where a static position is fused to constrain drift in roll and pitch. This mode is used before GP checks pass and for flying indoors.

[2017-10-27 05:35] xmutrue commented on #349
If the fixedwing uav fly outdoors,  and when gps failure, it means that the attitude control of uav can't work well.
Like other gps/ins product, it will change from gps/ins mode to ahrs mode to provide the pitch and roll for vehicle, and the Controller can use the dead reckoning with airspeed to calculate position.

[2017-10-27 05:46] priseborough commented on #349
If it has airspeed, and sideslip fusion has also been enabled, then it will dead-reckon. However the PX4 commander failsafe does not yet support this capability fully and will still fall back out of attitude control, requiring the operator to select a non position controlled flight mode. No waypoint controlled flight modes can be used when it is dead-reckoning.

See testing here: https://github.co

[2017-10-27 05:46] #349 closed

[2017-10-27 05:56] xmutrue commented on #349
I wonder if the ECL has been port to other platform except the ardupilot and px4.

[2017-11-08 03:24] priseborough opened #352 "Yaw error growth after in-flight alignment causes loss of global position"
Fault detected in the following FW log: https://review.px4.io/plot_app?log=298fa694-516a-4d76-9d18-a5137adbc0d7

Flight code was flown was forked from https://github.com/PX4/Firmware/commit/5a17f6b2d576e19cbc22f463b08d572667de7b08

Vehicle was launched and develops a 1 rad yaw error after the inflight yaw alignment.

![screen shot 2017-11-08 at 2 03 09 pm](https://user-images.githubusercontent.com

[2017-11-09 00:59] priseborough commented on #352
After reviewing the code and testing hypothesis using replay of the log, it is likely that this was caused by a combination of transient sensor errors and the simultaneous reset the magnetic field and quaternion states and their corresponding covariances. I have created a branch to test changes here: https://github.com/PX4/ecl/tree/ekfMagYawReset-wip which implements the following fixes that shoul

[2017-11-09 08:03] priseborough commented on #352
After further testing, the following issues have been detected and fixed:

1) sensor errors on ground combined with vehicle movement from handling can cause unwanted activation of the GPS yaw recovery function for FW vehicles. This is fixed by:

https://github.com/PX4/ecl/commit/c9e0591b106a6433b22bfbe894976a3c7324759f

2) Failure to reset the velocity and position state covariances after recovery

[2017-11-09 08:16] priseborough commented on #352
GPS velocity innovation for replay of https://review.px4.io/plot_app?log=298fa694-516a-4d76-9d18-a5137adbc0d7 using ecl master before changes:

![screen shot 2017-11-09 at 7 13 00 pm](https://user-images.githubusercontent.com/3596952/32594937-08183e48-c582-11e7-8492-d9184e11c14e.png)

Using https://github.com/PX4/ecl/tree/ekfMagYawReset-wip at commit https://github.com/PX4/ecl/commit/53f393bcd6ae1

[2017-11-09 08:22] priseborough commented on #352
https://github.com/PX4/ecl/pull/354

[2017-11-12 20:32] #352 closed

[2017-11-15 10:21] priseborough commented on #336
Agree, both the variable name and description should be updated. I will create a PR for this.

[2017-11-15 10:48] priseborough commented on #336
Fixed in ecl.

[2017-11-15 10:48] #336 closed

[2017-11-15 10:51] priseborough commented on #217
Addressed by https://github.com/PX4/ecl/pull/351

[2017-11-15 10:58] priseborough commented on #284
This is leftover from a previous implementation for the reset logic that attempted to use growth in the variance to trigger a reset. This was abandoned because the main cause of resets has been clipping of accelerometers due to vibration which causes extreme error growth that is not predicted correctly by P[9][9].  I will remove this test and the associated parameter.

[2017-11-15 11:00] priseborough commented on #284
If P[9][9] becomes very large before the timeout period, then the innovation consistency check will pass and the data will be fused anyway.

[2017-11-15 11:14] priseborough commented on #315
Please retest using current px4 master and supply a log that starts at boot so we can replicate what your results using the replay function.

[2017-11-15 11:25] priseborough commented on #333
Please explain which variable what you think is being reset twice - it is not obvious to me.

[2017-11-15 13:10] dagar opened #357 "EKF ringbuffer allocation"
All ringbuffers are allocated in  EstimatorInterface::initialise_interface() https://github.com/PX4/ecl/blob/master/EKF/estimator_interface.cpp#L382-L392

Only allocating each in configurations where they're actually used will save a lot of memory.

[2017-11-15 20:06] #284 closed

[2017-11-15 20:11] priseborough commented on #333
each quaternion in the output buffer is rotated through the reset amount, then output_new is rotated.

[2017-11-15 20:11] #333 closed

[2017-11-15 20:30] priseborough commented on #357
How can I check if a buffer has been allocated?

[2017-11-15 20:35] priseborough commented on #357
I could add an accessor function to ringBuffer.h that returns false if _buffer == NULL or check that get_length > 0

[2017-11-15 20:46] dagar commented on #357
Depends how you'd want to do it, but that could work. Based on EKF configuration do we know which are needed or is it dependant on the actual pushed.

An easy option is to allocate on the first push, but that might be questionable if for some reason data only started publishing midflight.

[2017-11-15 20:51] dagar commented on #357
The ringbuffer is in the class, but the buffer within is allocated with a helper. I could change it so that we only keep pointers to the ringbuffer and the constructor allocates.

Let's figure out how and where the EKF decides it needs a particular ringbuffer and then think about what makes the most sense (including error handling).

[2017-11-15 21:47] priseborough commented on #357
Another issue is that the ekf2 code assume that all buffers have been allocated and that data (which may be zeros) is always returned. Checking for buffer allocation each time will add to code complexity.

A compromise solution could be to allocate each buffer initially with a length of 1 and then increase the allocation before the first data is pushed to the buffer.

[2017-11-17 08:40] #357 closed

[2017-11-23 19:48] dagar opened #363 "initial error message "EKF stopping navigation""
This is low priority and only a minor annoyance, but the EKF is printing "EKF stopping navigation" at the beginning of many flights.

For example
https://logs.px4.io/plot_app?log=510f330b-db14-4398-9d8a-9fe6f9c28638

![image](https://user-images.githubusercontent.com/84712/33187081-2844a496-d05d-11e7-901d-cc9935c050d0.png)

Can this be initialized differently to skip the error? https://github.com/

[2017-12-03 23:02] #363 closed

[2017-12-14 08:24] mzahana commented on #271
@dennisss Is this merged into PX4 master?

[2017-12-17 13:41] CarlOlsson opened #370 "Accel bias variance is logged as zeros"
@priseborough
This log file is from a race quad, is it intended behavior that we set the accel bias variance to zero?
![image](https://user-images.githubusercontent.com/7795133/34079994-e7ffb522-e337-11e7-8a6f-5f9c098de55c.png)
![image](https://user-images.githubusercontent.com/7795133/34079995-e9be090e-e337-11e7-825f-e67b51385442.png)

[logfile](https://logs.px4.io/plot_app?log=b3ba82be-4b0a-46f1

[2017-12-17 20:13] priseborough commented on #370
It is expected behaviour to protect against bad learning of bias values if there are high manoeuvre levels. See https://github.com/PX4/ecl/blob/master/EKF/covariance.cpp#L160

[2017-12-17 20:15] #370 closed

[2017-12-17 21:47] CarlOlsson commented on #370
Ah okey thanks, I had missed that

[2018-01-05 07:44] dagar commented on #332
I've created a docker container (https://hub.docker.com/r/px4io/px4-dev-ecl/) that contains these dependencies.

[2018-01-05 07:44] #332 closed

[2018-01-09 09:24] CarlOlsson opened #376 "TECS: Throttle integrator is not initialized at cruise throttle if in air"
@dagar
Based on the discussion in https://github.com/PX4/ecl/pull/372 and https://github.com/PX4/Firmware/issues/8508 my understanding is that we want to initialize the throttle integrator with the cruise throttle value when starting TECS when the airplane is already airborne, e.g. at forward transition of a VTOL.

The throttle integrator state is initialized [here](https://github.com/PX4/ecl/blob

[2018-01-23 04:00] ajaybhatt003 opened #380 "About ekf2 of px4 frmware"

[2018-01-23 04:00] #380 closed

[2018-01-23 04:10] ajaybhatt003 opened #381 "About ekf2 of px4 firmware"
Hello Sir,
I want to understand the code of ekf2 of px4 firmware. I am referring to the code provided on site: https://github.com/PX4/ecl/blob/master/matlab/scripts/Inertial%20Nav%20EKF/GenerateNavFilterEquations.m.
I have two questions regarding the code:

Is it same as ekf2 of px4 firmware?
2)why is time delay horizon technique not used inside matlab code at https://github.com/PX4/ecl/blob/maste

[2018-01-25 05:57] Antiheavy opened #383 "loss of global position - fixed wing flight"
Here is a recent fixed wing flight with a loss of global position at the end of takeoff climb.  Step inputs where throttle down and start to turn; this seems to be a common place where an EKF2 resets occur - at least in our fixed wing application.  Eventually EKF2 sorted itself out and the pilot switched back into Mission mode to complete the test flight without further incident.  I wonder if EKF2

[2018-01-25 08:33] LorenzMeier commented on #383
@priseborough Could you have a look?

[2018-01-25 09:35] priseborough commented on #383
OK will look at it tomorrow morning.

[2018-01-25 14:44] dagar commented on #383
[cde7c726-8548-45cf-86cb-fb0f9cac68ba.ulg.pdf](https://github.com/PX4/ecl/files/1664358/cde7c726-8548-45cf-86cb-fb0f9cac68ba.ulg.pdf)

![image](https://user-images.githubusercontent.com/84712/35393942-64fa80b2-01b4-11e8-9dca-5ad58ca470cc.png)

[2018-01-25 15:00] dagar commented on #383
The vehicle is climbing and at a near maximum commanded bank.

![image](https://user-images.githubusercontent.com/84712/35394755-87a0f69e-01b6-11e8-96cf-dbca18b50876.png)

[2018-01-25 15:57] dagar commented on #383
The velocity test ratio (dark green) building up during the turn.
![image](https://user-images.githubusercontent.com/84712/35397820-742f10e8-01be-11e8-9eb0-90425cc05d9d.png)

[2018-01-25 21:50] priseborough commented on #383
I have reviewed the estimator performance and it appears that a build up of yaw error occurred due the transition from heading to 3-axis mag fusion combined with the turn and a combination of errors that exposed a vulnerability that was supposed to have been fixed by https://github.com/PX4/ecl/pull/354

@Antiheavy Can you please provide the git hash for the version of the ecl library used. Based o

[2018-01-25 21:52] priseborough commented on #383
@LorenzMeier is there an easy way to record the ecl library hash in logs?

[2018-01-25 22:09] Antiheavy commented on #383
@priseborough I believe the ECL version is this one which as you suspected predates https://github.com/PX4/ecl/pull/354 by a couple weeks.
https://github.com/PX4/ecl/tree/f921b2de5cbcf309cdf61c2cbe15c0b4dd2ce9b5

Is it possible to EKF replay the data using a more recent ECL version?

[2018-01-25 22:31] priseborough commented on #383
I will try. Compatibility is more dependant on changes to uORB topic definitions in Firmware.

[2018-01-25 22:44] priseborough commented on #383
I have replayed using upstream master at commit 757f0e7 and there was no loss of navigation and in-air reset. GPS velocity innovations look good. This confirms the failure hypothesis.

![screen shot 2018-01-26 at 9 42 50 am](https://user-images.githubusercontent.com/3596952/35416470-4bc90efa-027d-11e8-9b9a-d0f849580184.png)

[2018-01-26 04:10] Antiheavy commented on #383
@priseborough good news.  thanks for looking at this.

@dagar any thoughts on the loss of global position failsafe triggering immediately and then not automatically switching back to Mission mode when the EKF reset?  I guess I'm not sure if the switch back to Mission mode after 18 seconds was automatic or a result of the pilot forcing the mode switch...  Does this existing issue cover it  https://

[2018-01-26 06:19] yuxiqun opened #384 "code writing error in TECS.CPP"
`// Apply limits on the demanded rate of change of speed based on physical performance limits
	// with a 50% margin to allow the total energy controller to correct for errors.
	float velRateMax;
	float velRateMin;

	if ((_uncommanded_descent_recovery) || (_underspeed_detected)) {
		velRateMax = 0.5f * _STE_rate_max / _tas_state;
		velRateMin = 0.5f * _STE_rate_min / _tas_state;

	} else {
		velRat

[2018-01-27 02:41] Antiheavy commented on #383
I think I can close this issue as current state of ECL does not fail in this case. I will look into another issue on the firmware side if we can figure out exactly why Return mode is triggering immediately instead of giving time for EKF to fix itself.  Thanks all.

[2018-01-27 02:41] #383 closed

[2018-01-28 10:39] priseborough opened #385 "EKF: Wrong index use in control.cpp"
Should be using index 9 for vertical position

https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L659

[2018-01-28 14:01] dagar commented on #385
Create short defines (or static constexpr) for these?

[2018-01-28 15:12] dagar commented on #384
Yes, it's useless like this. Would you like to open a pull request to fix it?

[2018-01-28 18:18] LorenzMeier commented on #384
@priseborough Could you have a look? Should we be doing something else here like e.g. in the if() case not multiply by 0.5?

[2018-01-28 20:25] priseborough commented on #384
https://github.com/PX4/ecl/pull/386

[2018-01-28 20:51] priseborough commented on #385
We could, but there are 24 states and in the process of changing all the instances we would have a good chance of introducing a flight critical bug.

[2018-01-28 20:52] priseborough commented on #385
The use of 8 is a hangover from the original ecl EKF that used 3 states for attitude instead of 4.

[2018-01-28 21:01] #384 closed

[2018-01-28 21:09] #385 closed

[2018-01-29 11:00] bkueng commented on #381
Hi
@priseborough can help.
The ekf2 is documented here: https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html

[2018-01-29 21:38] priseborough commented on #381
https://github.com/PX4/ecl/blob/master/matlab/scripts/Inertial%20Nav%20EKF/GenerateNavFilterEquations.m was used to generate the equations in PX4 ekf2.

The delayed time horizon concept is an implementation technique and not part of the EKF state and observation equations.

The time delay horizon method in https://github.com/PX4/ecl/blob/33e8d5923fc297ef6d7d9ada23cb229bdc1b7836/matlab/EKF_replay/F

[2018-01-29 21:38] #381 closed

[2018-01-30 12:01] priseborough opened #390 "Vertical position derivative responds to z position resets"
The state used to calculate vertical derivative estimate returned by get_pos_d_deriv(...) is not being reset when the vertical position is reset:

![screen shot 2018-01-30 at 10 56 21 pm](https://user-images.githubusercontent.com/3596952/35565328-4165b03e-0611-11e8-8d4e-c7d0dcc93c9a.png)

This will cause rapid height change if a reset event occurs at the same time as a pilot climb rate demand due

[2018-01-31 07:43] #390 closed

[2018-01-31 11:18] ajaybhatt003 commented on #381
Hi
@priseborough thank you for reply.
But have implemented delayed time horizon concept in matlab code or simulink then please let me know.
thanks

[2018-02-04 19:59] EliaTarasov opened #394 "EKF2 Ekf::initialiseFilter() problem (disable mag, enable HGT_MODE Vision)"
Hello.

Ekf::initialiseFilter() has some limitations:

// check to see if we have enough measurements and return false if not
bool hgt_count_fail = _hgt_counter <= 2 * _obs_buffer_length;
Here it doesn't take into account that user may choose HGT_MODE VISION but aircraft is sitting on the ground with camera giving vision only in air. So if there is no vision while we are on the ground then filter

[2018-02-08 10:10] ChristophTobler opened #397 "EV and GPS fusion"
Currently the only way of fusing EV and GPS is by rotating EV measurements and fuse them as incremental position changes (assuming that the EV measurements are not in NED which is almost always the case). The downside of this is that we can't fully make use of the EV's performance. With the incremental position fusion the vehicle drifts more.

I see two options:

1. We keep the yaw from the magnet

[2018-02-08 13:26] mhkabir commented on #397
The first approach sounds better to me.

[2018-02-09 07:55] EliaTarasov commented on #397
In a number of cases it's better to avoid using magnetometer at all. I would vote for the second option, because it the first case we are totally depend on mag.

[2018-02-09 12:27] ChristophTobler commented on #397
I implemented option 1 ([branch](https://github.com/PX4/ecl/tree/ekf_ev_pos_fusion_1)) as it didn't require too much changes and did some tests.

Current Implementation (incremental pos fusion) doesn't work very good. When stationary on the ground the position drifts a lot. In air it's better (not sure why...) and can be used to fly in position mode. But the performance isn't very good... see belo

[2018-02-09 14:35] ChristophTobler commented on #397
@EliaTarasov

That's true. But for the mixed scenario EV/GPS we have to depend on the mag anyways (otherwise GPS doesn't work). So for scenarios where you know you don't have good mag readings you probably don't have GPS and then you could switch to using EV yaw.
But I can see that the performance of EV would of course be better when we would use option 2.
Thoughts?

[2018-02-10 10:00] EliaTarasov commented on #397
Second option would also increase robustness especially in case of unreliable GPS environment.

[2018-02-10 11:15] priseborough commented on #397
Incremental fusion requires significantly less observation noise to work effectively because noise represents error accumulated since last update.

[2018-02-12 19:54] EliaTarasov commented on #394
Stale

[2018-02-12 19:54] #394 closed

[2018-02-13 07:34] priseborough commented on #397
I will review the logs and see if there is something we can do with the observation noise to improve performance when we are using incremental fusion.

Direct fusion when not using GPS seems like a logical approach. The issue I see with using the magnetometer when GPS is not available, is that is usually when indoors therefore in environments where the earth field is often unreliable. If we are fo

[2018-02-13 07:56] priseborough commented on #397
Here is  a plot of the innovations and +- sqrt(innovation variance) from the delta position fusion.

![screen shot 2018-02-13 at 6 50 09 pm](https://user-images.githubusercontent.com/3596952/36138756-dda5b696-10ee-11e8-89fd-b76bd52bb3ff.png)

The innovation variance with observation noise is too large and reducing it through retuning will reduce drift.

[2018-02-13 08:09] priseborough commented on #397
I've inspected the code and there are a some issues with the way the ekf2 is interfaced to the vehicle_vision_position data:

1) The observation noise passed through to the ekf is the maximum of  eph,  epv and EKF2_EVP_NOISE parameter.
2) The ekf2 interface does not have a separate vertical and horizontal  position error.

Also the vehicle_vision_position eph and epv values are unrealistically sma

[2018-02-14 07:32] ChristophTobler commented on #397
@priseborough

Makes sense! I retried with a smaller value in simulation and could already see a difference there.

True. If we have a reliable solution to use the EV heading, I would vote for that. I only tried the first option because it required much less effort.
I guess we need to check what effects the switching between mag and GPS will have on e.g. missions. Because the heading (north, east,

[2018-02-14 10:18] priseborough commented on #397
The heading change associated with your option 2) can be handled - we already have logic in place to manage the reset of states and covariance.

[2018-02-19 13:42] fateme104 opened #398 "L1 position controller"
Hi,
I want to simulate px4/l1 controller. Now I have a question about : "_crosstrack_error = vector_AB % vector_A_to_airplane;" command which is located at: "https://github.com/PX4/ecl/blob/master/l1/ecl_l1_pos_controller.cpp"
I know that "%" Calculate the remainder. but I don't know what is the remainder of two vectors?
OR what is the result of "%"?
TNX

[2018-02-19 14:23] fateme104 commented on #398
I figure it out.
it calculates the vector orthogonal to vector_AB.

[2018-02-19 18:16] #398 closed

[2018-02-23 13:40] CarlOlsson opened #399 "Critical wind estimation issue"
**Issue 1:**

When a VTOL transitions into fixed wing flight airspeed and synthetic sideslip fusion are activated. However, this is done in different ways. Airspeed fusion is activated by the fact that ekf2_main starts to push airspeed data into ecl when the measurements are [above 7 m/s](https://github.com/PX4/Firmware/blob/master/src/modules/ekf2/ekf2_main.cpp#L820), synthetic sideslip fusion on

[2018-02-23 21:48] priseborough commented on #399
This is an issue that could affect conventional fixed wing as well depending on launch method used. We can use the control status to determine when  wind states become active and not enable sideslip fusion if wind states are inactive and airspeed data is being received. I have submitted a draft PR that you can use as a starting point: https://github.com/PX4/Firmware/pull/8954

[2018-02-23 22:30] CarlOlsson commented on #399
@priseborough Thanks for the initial implementation! Will look into it as soon as possible. However, in the mean time I was just wondering, why don't we change the [derivation of the airspeed fusion](https://github.com/PX4/ecl/blob/master/matlab/scripts/Inertial%20Nav%20EKF/GenerateNavFilterEquations.m#L182) measurement equation to take the vehicle attitude into account? I.e. why is the predicted

[2018-02-23 22:39] priseborough commented on #399
It was done to make the method as general as possible and also sensors are not alway aligned with X in the XZ plane which can cause issues with vertical state estimation. Also there are wind speed sensors available that work in any direction which are used on boats. We could provide a parameter selectable option for a X axis forward sensor with an adjustable  pitch offset.

[2018-02-23 22:40] priseborough commented on #399
That would then be the default setting given most applications for airspeed sensing are fixed wing / VTOL platforms.

[2018-02-23 22:44] CarlOlsson commented on #399
That would be awesome! How do you want to tackle it, should I create a prototype or do you want to start with a branch?

[2018-02-23 22:52] priseborough commented on #399
I would start with a wip branch and add another section to the derivation so we retain the exisiting method, eg:

%% derive equations for fusion of true airspeed measurements for forward aligned sensor
load('StatePrediction.mat');
VtasPred = ......; % predicted measurement
H_TASX = jacobian(VtasPred,stateVector); % measurement Jacobian
[H_TASX,SH_TASX]=OptimiseAlgebra(H_TASX,'SH_TASX'); % optimise

[2018-02-23 22:56] CarlOlsson commented on #399
Okey yes sounds like a good idea. Will work on it tomorrow, tell me if you start something before then.

[2018-02-24 11:11] CarlOlsson commented on #399
Here is a first wip branch https://github.com/PX4/ecl/tree/wip-new_arsp_fusion
To begin with I disregarded the adjustable pitch offset and it seems to work so far. However, I just realized that the predicted measurement shouldn't be allowed to be negative. The Matlab symbolic toolbox doesn't seem to support the max function, @priseborough do you know a way around this?

[2018-02-24 22:49] priseborough commented on #399
You will have to look after that  in the implementation. There is a way to do that remembering that the partial derivative should still be correct even if the prediction is negative.

Can we focus on the logic protection in ekf2_main first and work on the derivation as a longer term task? If this is a critical issue then we need the logging protection now and adding new fusion methods takes time.

[2018-02-25 17:41] asoharev opened #400 "error in ekf.cpp"
Hi
I've read the code and it seems like I've found a bug in the velocity calculations at
lines 361-362:
https://github.com/PX4/ecl/blob/337cdcc59a2df1f5e395c4c27d69748227e90bbd/EKF/ekf.cpp#L361-L362
but _state.vel in Earth frame. I  think you should rotate gravity vector and compensate from full velocity vector.

[2018-02-26 06:34] priseborough commented on #397
For a related issue of when to stop using GPS - I have a prototype branch to handle the reversion back to non-GPs operation if already using flow or external vision here: https://github.com/PX4/ecl/tree/ekfGpsFallback-wip.

[2018-02-26 06:37] priseborough commented on #397
One GPs fusion had commenced, the EKF was previously continuing to try and use GPS regardless of quality, provided it had a 3D lock. This makes sense when GPS is the only aiding method available, but not when external vision of optical flow is being used. This caused problems starting a flight indoors, flying outdoors, where GPS checks passed and then flying back indoors again.  The degraded GPS c

[2018-02-26 13:44] bresch commented on #400
Hi @asoharev ,
The rest of the state velocity vector is compensated here https://github.com/PX4/ecl/blob/337cdcc59a2df1f5e395c4c27d69748227e90bbd/EKF/ekf.cpp#L359 using rotated acceleration (https://github.com/PX4/ecl/blob/337cdcc59a2df1f5e395c4c27d69748227e90bbd/EKF/ekf.cpp#L350).
Then the gravity is removed: `_state.vel(2)` is in earth frame, as well as `_gravity_mss` (1g constant). I don't see

[2018-02-26 14:16] asoharev commented on #400
I'm sorry, my fault. I understand, EF = NED.
Before I'd met earth frame as ECEF only (https://en.wikipedia.org/wiki/ECEF) and thought that's generally accepted.

Thanks for your  answer!

[2018-02-26 14:16] #400 closed

[2018-02-26 15:00] bresch commented on #400
@asoharev No problem, I agree that it could be quite confusing, I understand why you thought it was wrong then :)

[2018-03-02 07:38] EliaTarasov commented on #397
Question regarding attitude fusion:
Suppose we have mag and vision. Mag has low precision but provides attitude wrt NED. Vision has high precision but provides attitude only wrt to its own vision frame (but that can be rotated to NED).
Now EKF strictly separates vision yaw fusion from mag yaw fusion.
Can we fuse vision data to aid mag attitude estimation to have better NED attitude estimation when

[2018-03-04 20:43] priseborough commented on #397
That depends on the long term stability of the vision world frame reference frame rotation relative to NED. If it is stable, then we could continue to use it once we have determined the offset.

[2018-03-05 11:24] EliaTarasov commented on #397
Okay.
Most probably it drifts with the time.
But if it is possible to estimate gyro drift (with help from the mag) then it is also possible to estimate vision drift (with the help of the mag again)?

[2018-03-13 08:56] priseborough commented on #397
I've added functionality for the automatic selection of external vision yaw depending on GPS use to https://github.com/PX4/ecl/tree/ekfGpsFallback-wip

Conditional on the use of external vision for yaw being enabled by EKF2_AID_MASK, it will use external vision yaw for whenever the EKF is not using GPS. Otherwise the magnetometer will be used.

This will generate a yaw reset when GPS fusion starts

[2018-03-19 16:06] RomanBapst commented on #376
@CarlOlsson I don't think we want to initialse the TECS throttle integrator with cruise throttle, see #411 for more information.

Btw, the code link you have shared above refers to airspeed less operation, in which case the throttle integrator is anyway not used.

[2018-03-19 16:06] RomanBapst commented on #376
Please reopen if you disagree :-)

[2018-03-19 16:06] #376 closed

[2018-03-26 01:39] priseborough opened #414 "Critical loss of GPS with air data aiding issue"
When GPS is lost and sideslip and airspeed estimation is enabled, the EKF continues to navigate using the wind and sideslip fusion to constrain velocity drift. SITL testing has shown that stability of the air data fusion is inadequate and numerical errors accumulate until air data can no longer be fused.

![screen shot 2018-03-26 at 12 23 28 pm](https://user-images.githubusercontent.com/3596952/37

[2018-03-27 11:12] langxm1223 opened #415 "Possible improvement in position valid operation"
Hello, I am running px4 with v1.7.3 and the associated EKF.
I tested it in GPS denied environment with only range finder and optical flow available.
I found that for some time my flow cannot have a good quality, e.g. no texture, then the xy_valid would turn to false as designed. However, in this invalid interval, states are still self propogating with IMU data without any xy direction sensor. So t

[2018-04-10 11:50] thomasgubler opened #419 "Crazyflie Optical Flow EKF2 bringup"
Current Setup:

From @DanielePettenuzzo :

drivers for optical flow board are in pr-bitcraze_flow_rebase
optical flow driver: pmw3901 (external SPI bus CS1)
distance sensor driver: vl53lxx (external I2C bus)

with current setup just run from nuttx shell or put in rcs script:
pmw3901 start
vl53lxx start

A couple modifications were also made in ecl submodule in branch pr-bitcraze_optical_flow_ekf_i

[2018-04-10 11:50] thomasgubler commented on #419
➤ Thomas Gubler commented:

@Daniele Pettenuzzo can youdescrive your setup and issues here please

[2018-04-10 11:55] thomasgubler commented on #419
➤ Daniele Pettenuzzo commented:

drivers for optical flow board are in pr-bitcraze_flow_rebase

[2018-04-10 11:55] thomasgubler commented on #419
➤ Daniele Pettenuzzo commented:

optical flow driver: pmw3901 (external SPI bus CS1)
distance sensor driver: vl53lxx (external I2C bus)

[2018-04-10 12:05] thomasgubler commented on #419
➤ Daniele Pettenuzzo commented:

these changes are:
- added read_first_older_than function in RingBuffer.h (to read gyro data without moving head of buffer)
- modified setOpticalFlowData in estimator_interface: we need to fetch gyro data because optical flow board doesn't have its own gyro (this obviously breaks the px4flow but it is just for testing)
- minor changes in the optflow_fusion

[2018-04-10 12:38] thomasgubler commented on #419
@DanielePettenuzzo Can you comment (on github ;) ) about the issues you see with EKF2 and the above setup so that we can have Paul look into it?

[2018-04-18 22:10] priseborough commented on #414
Fixed by https://github.com/PX4/ecl/pull/413

[2018-04-19 03:33] mubaarik opened #423 "Problem with EKF2 and Optical Flow"
Hi all,

I am working with Intel Aero ready to fly drone with optical flow and range sensor for an indoor application, no GPS and no barometer. Both the optical flow and the distance sensor data look pretty good with the optical flow showing quality around 150. The distance sensor(teraranger One) is also showing errors of a few centimeters and high sampling rate. The following are the EKF2 paramet

[2018-04-19 07:58] CarlOlsson opened #424 "checkRangeDataContinuity?"
I am wondering about the background regarding the [checkRangeDataContinuity](https://github.com/PX4/ecl/blob/bd72f3c5211176351cbc0596ef69395d359be43d/EKF/terrain_estimator.cpp#L205-L205) function and its use in the [terrain valid flag](https://github.com/PX4/ecl/blob/bd72f3c5211176351cbc0596ef69395d359be43d/EKF/terrain_estimator.cpp#L179-L179).

Why is it here? My concern is the following:
The sys

[2018-04-24 01:41] #414 closed

[2018-04-24 01:50] thomasgubler commented on #414
➤ Paul Riseborough commented:

https://github.com/PX4/ecl/pull/413 has been merged

[2018-04-25 17:00] Changliu52 opened #427 "EKF state time offset (potential bug?)"
Hi @priseborough ,

I understand EKF2 runs on the delayed time horizon, and the delay buffer is set according to the highest delay of the sensors. I assume the state of EKF will fuse the sensor according to their timestamps.

So I set ASP_DELAY to 250ms (added: VISION_DELAY to 0ms). I then run the vision slam with hardware sync against px4 camera trigger.  However, in my log from flightPlot, altho

[2018-04-25 21:35] priseborough commented on #427
The timestamp on the estimator_status log message that contains the states is the time the message was logged, not the time of the EKF's internal time horizon. For tuning you adjust the vision delay parameter or adjust the time stamp offset so that the change in innovation with velocity changes is minimised.

[2018-04-25 21:35] #427 closed

[2018-04-26 07:34] Changliu52 commented on #427
I see. Thanks Paul.

Chang

[2018-05-03 12:54] bartslinger opened #430 "elseif never reached"
Was going through the code and noticed that this is never called:
https://github.com/PX4/ecl/blob/master/EKF/ekf.cpp#L221

Because of https://github.com/PX4/ecl/pull/388

Not exactly sure yet what the implication is.

[2018-05-03 15:44] ChristophTobler commented on #430
@bartslinger I guess you are right. That got forgotten in https://github.com/PX4/ecl/pull/388
Can you create a PR?

[2018-05-03 18:02] bartslinger commented on #430
Sure, just didn't do it yet because I'm not 100% sure if removing it was the correct solution. PR is here https://github.com/PX4/ecl/pull/431

[2018-05-05 20:11] dagar commented on #346
Mostly implemented.

[2018-05-05 20:11] #346 closed

[2018-05-09 07:29] yuxiqun opened #443 "coordinated turn calculation error"
In 'PX4/ecl//attitude_fw/ecl_yaw_controller.cpp', there is may be an error:
`if (!inverted) {
 /* Calculate desired yaw rate from coordinated turn constraint / (no side forces) */
 _rate_setpoint = tanf(constrained_roll) * cosf(ctl_data.pitch) * CONSTANTS_ONE_G / (ctl_data.airspeed <
 ctl_data.airspeed_min ? ctl_data.airspeed_min : ctl_data.airspeed);
 }
`
I think it should be:
_rate_setpoint = ta

[2018-05-10 22:38] #430 closed

[2018-05-11 21:32] nolanholden opened #446 "catkin build fails - header files not found"
Upon building with catkin_tools (`catkin build`), px4 cannot find the header files, suggesting that the CMake config is somehow not communicating the include path of `px4-firmware/src/lib/ecl/`

Any ideas on how to change the cmake files?

I am on latest from master.

**Note**: The root dir is renamed from `Firmware` to `px4-firmware`.

[code]

[2018-05-16 12:43] bresch commented on #443
Hello. Your expression is simply an approximation when the pitch angle is small. The equation implemented in ecl is perfectly correct.

See here for more details: https://books.google.ch/books?id=XIabCgAAQBAJ&pg=PA342&lpg=PA342&dq=turn+coordination+constraint&source=bl&ots=EpdLxclPSv&sig=UgO6DlWNnSK6ZMk_0vZnR9ZPO_w&hl=fr&sa=X&ved=0ahUKEwi1zcvpoIrbAhVFY1AKHYCWAM0Q6AEIMzAB#v=onepage&q=turn%20coordin

[2018-05-16 12:43] #443 closed

[2018-05-18 08:35] #419 closed

[2018-05-22 22:53] dagar commented on #446
I believe this has been resolved. Can you try again?

[2018-05-22 22:53] #446 closed

[2018-05-28 16:17] ana-GT commented on #446
Hi. I am experiencing the same issue (build fails due to not finding ecl-related header files). This issue happens when using "catkin build" to build the px4 as a ROS package (if I just build it as a regular CMake project it builds fine, so I suspect the error comes from some catkin_tools magic):

/home/ana/ws/src/px4/src/lib/ecl/attitude_fw/ecl_controller.h:51:17: fatal error: ecl.h: No such file

[2018-05-28 17:20] dagar commented on #446
@nolanholden @ana-GT @TSC21 please open an issue in PX4 Firmware and describe exactly how you want to use this. We need to add a basic catkin build test to the continuous integration system (http://ci.px4.io:8080/blue/organizations/jenkins/pipelines) if we want to keep things like this from breaking all the time.

[2018-05-29 05:04] nolanholden commented on #446
@ana-GT I found no solution but realized I did not need to build it using catkin_tool

Just use the Make targets from px4. (for me it was `make posix_sitl_default gazebo`). [Instruction at my repo here for anyone in need.](https://github.com/redbirdrobotics/redbird_quadrotor#build-the-gazebo-simulation-and-mavros-node)

[2018-05-29 05:34] ana-GT commented on #446
Hi Nolan, well, this is by no means fixed, but my workaround was: Revert to the last stable release for px4 (which calls in turn a ecl's specific commit which builds fine).

I know that I could just use the plain make and do all that env stuff, but I prefer to only interact with catkin_tools and not to mess directly with environment variables if possible (in my book that is a bit messy, but that i

[2018-06-06 14:06] pratyusv commented on #446
@dagar I am also facing the same issue. I have cloned the latest px4 repo.

[2018-06-13 13:18] bkueng opened #459 "Timestamp comparison issue"
[here](https://github.com/PX4/ecl/blob/master/EKF/control.cpp#L615) we have the check:
[code]
And from `ekf2_main` the gps data is copied and set via `setGpsData`, after `setIMUData` is called. It means that `_time_last_gps > _time_last_imu` can happen. And the comparison is unsigned, so the check will result true.

This happens in SITL for example, the timestamp difference is only a few microseco

[2018-06-13 13:23] mhkabir commented on #459
Also this was merged without much discussion https://github.com/PX4/ecl/pull/450, but I don't have clarity on what it fixes/attempts to fix. Looks like a similar issue.

[2018-06-14 09:09] pratyusv commented on #446
@mickey13 Thanks. I did the same. It was working. Do you have a rough idea why it's failing?

[2018-06-14 12:14] LorenzMeier commented on #459
The last one looks good.

[2018-06-14 20:37] priseborough commented on #459
This check requires GPS use to be true which means previous use of GPS. This can only happen if GPS checks have been passed which requires 10 seconds of valid GPS data retrieved from the buffer.  Also data is only retrieved from the buffer after it has fallen behind the fusion time horizon which is delayed relative to _time_last_imu by the length of the IMU buffer.

[2018-06-14 21:09] priseborough commented on #459
There are three timestamp error conditions that will affect the operation of the EKF:

1) The data timestamp is greater than than _imu_sample_delayed.time_us + 1000 * FILTER_UPDATE_PERIOD_MS. If this happens data will be fused at the wrong time because the fusion time horizon will have already passed before the EKF has opportunity to retrieve the data from the buffer.

2) Data is out of order, Thi

[2018-06-15 03:50] dagar commented on #446
There's a problem with the include path. For some reason this is only working outside of catkin. https://github.com/PX4/ecl/blob/master/attitude_fw/CMakeLists.txt#L43

Keep an eye on https://github.com/PX4/Firmware/pull/9679 for a solution.

[2018-06-18 00:36] priseborough commented on #459
Fixed by https://github.com/PX4/ecl/pull/462

Will keep this open until the other instances, eg range finder have been fixed.

[2018-07-06 19:51] RomanBapst opened #474 "Optical flow degrades altitude hold"
@priseborough
@DanielePettenuzzo and I noticed that when setting the aid mask to 'optical flow' the altitude hold performance degrades considerably.
We did two tests (see logs and videos below) in which we flew in altitude hold mode, once with optical flow aid mask enabled and once without. As soon as you start moving horizontally the vehicle loses altitude.
Without the optical flow enabled this i

[2018-07-06 20:00] mhkabir commented on #474
Nice observation. I saw this too, but didn't connect it to optical flow use. What sensor are you using here?

[2018-07-06 20:08] mhkabir commented on #474
Potentially related to the height limiter which is only active when flow fusion mask is enabled.

[2018-07-07 09:30] RomanBapst commented on #474
@priseborough I started looking into this a bit and found that something causes the height state covariance to decrease during horizontal maneuvers. I replayed the bad log (with and without flow aid mask) and noticed that this causes the kalman gain of the height state during a baro update to be cut to half. I assume that the height solution is pulled less towards the baro and height performance d

[2018-07-09 08:02] RomanBapst commented on #474
@priseborough Could you let me know if replaying the posted logs works for you? I can replay them but the replay log is very short (maybe one second).

[2018-07-09 09:51] priseborough commented on #474
We need the  logging to start from boot to do a useful replay. Otherwise it is doing an in-flight alignment and results are not representative.

[2018-07-09 10:50] priseborough commented on #474
Inspecting the logs indicates we need to investigate (using replay) the possibility that optical flow observations are causing a reduction in vertical velocity variance which is also reducing vertical position variance.

[2018-07-10 21:58] RomanBapst commented on #474
@priseborough I did an outdoor flight today in which I zeroed the entry of the optical flow observation vector corresponding to the vertical velocity state. The logs shows that this gets rid of the dip in vertical velocity and height state variance during horizontal maneuvers. During the flight I was not convinced of the success of the fix because the drone was still losing a lot of altitude durin

[2018-07-11 06:33] priseborough commented on #474
The reduction in height variance not significant enough to account for the error, but does confirm optical flow observations are modifying the vertical states. If there is roll/pitch estimation error or angular misalignment of the flow sensor wrt the IMU, then when the vehicle is tilted, there will be vertical velocity errors introduced when optical flow data is fused.

I have seen increased heigh

[2018-07-11 07:05] priseborough commented on #474
I've been running replay tests on https://logs.px4.io/plot_app?log=d9f72146-0bf9-4f54-92e5-7f8f3b4527e5 using PX4/Firmware master and blocking the optical flow fusion from modifying the vertical velocity and position states increased the RMS innovation levels for the baro observations.

[2018-07-11 07:14] RomanBapst commented on #474
@priseborough Hm, what is your conclusion from that?

[2018-07-11 07:47] RomanBapst commented on #474
@priseborough I think I found the mistake I made. I forgot that the kalman gain was computed independently of the H_LOS matrix. I zeroed the entries in the H_LOS matrix but not in the kalman gain. Replay shows promising results.

[2018-07-11 20:47] RomanBapst commented on #474
@priseborough I think the replay log I provided you with is not very good. I'll provide something better to assess the potential improvement. We have also installed a traditional Px4 flow module just to verify that we are not suffering from issues related to the bitcraze flow module. At the moment we are especially struggling with effects of yawing on the flow innovations.

[2018-07-11 20:53] RomanBapst commented on #474
@priseborough During our investigations we discovered two potential bugs for which I will provide a fix:
1) Here we are using _flow_sample_delayed.gyroXYZ which is a delta angle but we should be using
the equivalent rate.
https://github.com/PX4/ecl/blob/master/EKF/optflow_fusion.cpp#L81

2) The  corrected height above ground estimate here is not necessarily the distance from the focal point to the

[2018-07-12 22:45] priseborough opened #478 "EKF continues to use last range data"
If range data stops publishing, the EKF continues to use the last data when EKF2_RNG_AID is enabled

https://review.px4.io/plot_app?log=861edb66-663c-46b2-8a60-d1935a7290b6

https://review.px4.io/plot_app?log=89526d09-77bf-4edf-9a02-7c7c34e62681

[2018-07-12 23:11] priseborough commented on #478
The practice of indicating invalid or out of range data by not publishing as seen in these logs is not recommended. The code will be updated so that loss of range data causes reversion to use of the default height sensor, but because of the delay associated with a timeout check this mechanism should not be relied on for normal switching.

[2018-07-12 23:24] dakejahl commented on #478
Thanks, we will merge #9865 on our side to use the `signal_quality` field.

[2018-07-13 01:54] priseborough commented on #478
Prototype fix here: https://github.com/PX4/ecl/tree/pr-ekfRngAidFix

Will raise PR when testing complete.

[2018-07-13 16:24] dakejahl commented on #478
Hey Paul, I merged in this commit and went testing **(Note:** I did not change the way our driver is publishing for the sake of simply testing the timeout on the fusing of the data).
https://review.px4.io/plot_app?log=46f674ad-abbc-41a3-8e62-2a0602417479

I noticed you have a variable `RNG_MAX_INTERVAL` which is set at 200ms that is used to determine if the data has gone stale.

[code]
After 400ms

[2018-07-13 16:42] ndepal opened #479 "EKF2 does not detect if no mag is fused"
We had an incident where the mag data published in `sensor_combined` was not updating properly. The timestamps `sensor_combined_0.magnetometer_timestamp_relative` showed that the data was old and EKF2 did not do any fusion.

However, it still claimed that there are no faults / that the position solution was good.
Position controlled flight performed poorly (significant toilet-bowling).

In my opin

[2018-07-13 16:49] dagar commented on #479
This is firmware side, but I'm also wondering about tightening the commander check.
https://github.com/PX4/Firmware/blob/master/src/modules/commander/commander.cpp#L1794-L1820

[2018-07-13 16:52] dagar commented on #479
[8f1505e6-f998-47e4-9693-58c3c0424774.ulg.pdf](https://github.com/PX4/ecl/files/2193533/8f1505e6-f998-47e4-9693-58c3c0424774.ulg.pdf)

[2018-07-13 19:51] dakejahl commented on #478
Please see [#480](https://github.com/PX4/ecl/pull/480)

Thanks!

[2018-07-15 16:03] RomanBapst commented on #474
Upper issues are addressed in #482

[2018-07-15 16:04] RomanBapst commented on #474
@mhkabir You said that you also had this problem on one of your setups, correct? Do you have a video or a log of that.
I'm looking for other people who are seeing this issue.

[2018-07-17 13:49] ndepal commented on #479
I can re-create the situation in SITL on current master with the following change in PX4/Firmware:
https://github.com/ndepal/Firmware/commit/172815f621be649d094fdc38fb4aaef978eb4577

This will cause EKF2 to stop fusing mag measurements after 2000 published mag measurements. This causes heading drift in simulation and subsequent control instability* (having done `commander takeoff` before the above

[2018-07-23 08:19] ndepal commented on #479
@priseborough I would really appreciate your input on this.

[2018-07-23 08:22] priseborough commented on #479
I will have a look at it this week

[2018-07-23 22:57] priseborough commented on #479
In the scenario posted, the velocity and position errors are not large enough to fail innovation consistency checks. position and velocity errors are therefore within limits and the ekf has no reason to declare the local_position data invalid.

![screen shot 2018-07-24 at 8 45 25 am](https://user-images.githubusercontent.com/3596952/43106872-f056395c-8f1d-11e8-95d1-465e1bbd7d67.png)

The toilet bo

[2018-07-24 10:10] ndepal commented on #479
Thanks for having a look at this, Paul.

This does not match my SITL tests described above, where the vehicle reproducibly crashes into the ground after some time.

If I understand correctly, you are suggesting that mag failures should be detected by the increase in position/velocity innovations caused by the heading estimation error.
I find this problematic because:
1. It requires that the vehicl

[2018-07-24 11:18] priseborough commented on #479
During work on a recent commercial multi-rotor project I was involved with, the behaviour of the EKF and position controller for varying levels of takeoff yaw error was extensively flight tested and in that application, the yaw and toilet bowling was found to be self correcting.

I was recommending that declaring local_position invalid on the basis of mag fusion timeout  should not be done by the

[2018-07-24 16:17] ndepal commented on #479
Unfortunately I have not had the same experience.

Understood. So you're proposing that the preflight check applies to all vehicles and in-flight failures depend on vehicle type or some parameter?

I think a fundamental problem is that the "failover" that happens when only one mag is present effectively does nothing at all because it fails over to the sensor that just failed.

Perhaps the behavior

[2018-07-26 06:46] InerNavy opened #487 "how to get Jaccobian L in WindEstimator::initialise"
"compute jacobian of states wrt north/each earth velocity states and true airspeed measurement", i am confused about how to get the jacobian L，when the state is w_n, w_e, tas, and the state equation is w_n = v_n - tasMeas * cos(atan(v_e, v_n)), to get jacobian about the states, i can not get L, so about this part, i hope that you can give a more specific interpretion,many thanks

[2018-08-01 03:44] huazai665 opened #489 "can not use convert _apm_data?"
can not find 'IMT' variable in apm log data, there is just IMU, I can not use the convert_apm_data in the ecl/ekf/matlab

[2018-08-01 09:11] LorenzMeier commented on #489
This repo is for the ECL library, which is unrelated to APM - except of course that Paul is contributing to both.

[2018-08-01 09:11] #489 closed

[2018-08-06 06:59] Abhi9499 commented on #423
Even I am getting same issue. Everything seems to be fine and data is flowing but EKF2 is not using that. There is no sign of Flow init message. Fortunately I got everything running last time may be 3 to 5 months ago.

[2018-08-08 01:42] dakejahl opened #492 "Range aid: use tilt angle not horizontal velocity"
@priseborough I'd like to change **range aiding**s dependence from `horizontal_velocity` to `tilt_angle`. I think it makes the most sense for each range sensor to publish a `max_tilt` in the `distance_sensor_msg` because some range sensors need to be normal to the surface (laser), while others are conical (sonar) and do not need to be. The dependence on `horizontal_velocity` seems odd, because wha

[2018-08-08 15:02] dakejahl commented on #492
On a similiar note, there are a few other things I'd like to tweak about the way we do range aiding.

1. Allow range aiding while `landed` as long as the measurements are within `min_distance` +/- `some_delta`. This means the distance sensor drivers supply a minimum distance that is also the `height_to_ground_offset` applied against the measurements. I'll explain why in (2).
2. If we have good ran

[2018-08-09 19:29] dakejahl commented on #492
I have a few more ideas:
1. When not using GPS as primary, periodically update GPS `alt_ref` to bring it into alignment with the current state prediction (taking alt ref on ground is pretty unreliable due to gps multipath)
2. Update `_baro_hgt_offset` to bring into alignment with current state prediction when switching from **range aiding** back to baro.
3. In order to accomplish (1) and (2) we ne

[2018-08-10 11:14] mandelyoni commented on #271
Hi Dennisss,

I cloned your PX4 version and tried to build it but received errors.
Any suggestion would be appreciated.

Thanks,  Yoni

[2018-08-10 11:46] mzahana commented on #271
@mandelyoni In case this helps, PX4 can fuse MOCAP in EKF2. Check my comment in the following issue,
https://github.com/PX4/Firmware/issues/6364#issuecomment-410481134

[2018-08-10 15:49] mandelyoni commented on #271
Great!
Thank you very much  :)

[2018-08-10 15:51] mandelyoni commented on #271
@mzahana , Do you know if anyone has tried it with the Intel Aero drone?

[2018-08-10 16:03] mzahana commented on #271
@mandelyoni No, I don't. But I don't see a reason why it shouldn't.

[2018-08-10 16:05] mandelyoni commented on #271
Ok, we'll try it and update.
Thanks

[2018-08-11 03:16] priseborough commented on #492
Ultimately, if we want to fude data from disparate vertical position sensing mechanisms I think we need a  separate estimator to estimate the height datum offsets that incorporates knowledge of the different error mechanisms for each sensor.

[2018-08-11 17:27] dakejahl commented on #492
I agree! I've got a few other things slated for the next few weeks, but I'd like to tackle that afterwards. Is this something you'd condone? I can do all the work but I'd like to solicit your advice during the process. Timeline is probably 6 weeks from now and I'd dedicate 2-3 weeks to the rework.

[2018-08-23 22:52] priseborough commented on #192
Downsampling occurs inside the sensor for the popular MS5611 baro  - see http://www.te.com/commerce/DocumentDelivery/DDEController?Action=srchrtrv&DocNm=MS5611-01BA03&DocType=Data+Sheet&DocLang=English with the oversampling ratio user adjustable between 256 and 4096. PX4 uses an OSR of 1024.

The use of oversampling is common with MEMS pressure sensors due to the high noise levels but we cannot gu

[2018-08-23 22:52] #192 closed

[2018-08-23 22:53] priseborough commented on #217
Fixed

[2018-08-23 22:53] #217 closed

[2018-08-23 22:56] #198 closed

[2018-08-23 22:56] #315 closed

[2018-08-23 23:01] priseborough commented on #399
Not present in current ecl master

[2018-08-23 23:01] #399 closed

[2018-08-23 23:04] priseborough commented on #415
This is expected. The ability to do inertial dead reckoning without external aiding (eg GPS or optical flow) is very limited with cheap MEMS sensors.

[2018-08-23 23:04] #415 closed

[2018-08-23 23:08] priseborough commented on #423
Please post user support issues and logs here: http://discuss.px4.io/c/support

I recommend you log from boot and learn how to use the ekf2 replay function https://dev.px4.io/en/debug/system_wide_replay.html#ekf2-replay to do diagnostics on your setup.

[2018-08-23 23:08] #423 closed

[2018-08-23 23:38] priseborough commented on #487
replace the atan with tan(ve/vn) and you will be able to compute the partial derivative. The sign of the derivative be correct for all quadrants

[2018-08-23 23:38] #487 closed

[2018-08-23 23:45] priseborough commented on #492
OK, we have more than one issue being discussed here so I will summarise my responses:

1) I do not support removing dependence of range aid on velocity due to terrain sensitivity issue raised above.
2) I do support addition of a separate estimator to enable blending of various height sources.

If you wish to undertake 2) please raise a new issue for it (enhancement), keep the changes as modular a

[2018-08-23 23:45] #492 closed

[2018-09-03 04:37] mhkabir opened #504 "Timestamp audit"
A lot of places in `control.cpp` seem to be using timestamps very arbitrarily, and this needs a thorough audit. Opening this issue to track down all places.

[2018-09-03 04:43] mhkabir commented on #504
We need to differentiate more clearly between sensor disconnection (stale/old data) and sensor use inhibited due to failing checks. Currently these are used interchangeably. Additionally, a lot of comments are outdated and misleading.

[2018-09-07 09:02] kyuhyong opened #508 "Z axis estimation keeps fail"
FW version: 1.8.0 stable from git, build as px4fmu-v2_default
Board: pixhawk
vehicle type: Quad X

EKF2 for local position estimation.
GPS is not attached
Sonar distance as range sensor input (LL40LS as PWM)
px4flow attached and ekf2 aid mask set to 2
whether EKF2 RNG AID is set or not, doesn't matter. <-- both settings not solving the issue.

Below plot shows velocity z estimation goes (-) when d

[2018-09-08 11:01] mandelyoni commented on #271
Hi,

We managed to operate the Intel Aero with the Optitrack Mocap, according to
https://github.com/PX4/Firmware/issues/6364#issuecomment-410481134

Thank you

[2018-09-11 03:02] kyuhyong commented on #508
After checking power source and replacing the board this problem is gone. I suspect power starvation caused this issue.
Obviously, lack of power didn't kill the sensor only making it output smaller data instead.

[2018-09-11 03:03] #508 closed

[2018-09-11 03:13] kyuhyong opened #509 "pmw3901 optical flow not working?"
Today I tried to use pmw3901 optical flow sensor instead of px4flow.
This sensor is smaller and lighter but gives enough position estimate for crazyflie however it does not seem to be working with pixhawk or more specifically px4fmu-v2_default build.

I followed below modifications to utilize the sensor and checked OPTICAL_FLOW integrated x and y data is streaming.
https://github.com/PX4/Firmware/

[2018-09-11 06:14] ChristophTobler commented on #509
You are using an old version which is missing https://github.com/PX4/Firmware/pull/10339 this fix.
Feel free to reopen if you have issues with the current master

[2018-09-11 06:14] #509 closed

[2018-09-13 02:39] kyuhyong opened #511 "ekf2 local position estimates vz down when maintaining altitude"
I thought this problem has gone after replacing the fc board and power module however its keeps happening.

In altitude hold mode, drone should maintain its altitude when throttle is about 50%.
But in the log below, at about 1:25 seconds in to the flight, drone think its z velocity going down (+z in NED frame) while sonar measurement shows no indication of going down.
Sonar is enabled but not did

[2018-09-13 06:43] RomanBapst commented on #511
@kyuhyong Some observations that might help you:
1) Yes, there is a large inconsistency between the height state and the height rate state. Also the barometer innovation is large and biased towards the end of the log. You need to find out if the problem is the baro or if the inconsistency comes from the IMU (e.g. clipping). If possible you can switch to using range finder altitude or gps altitude.

[2018-09-13 13:18] kyuhyong commented on #511
Hello RomanBapst,
I appreciate your response.
1. For the above flight, I used range finder measurement as height reference for altitude hold while vz for velocity control (Up and down in alt hold mode). GPS altitude is not available since the drone is for indoor.
If this problem is due from barometer, what can be done to solve? I already placed a thin sponge between sensor and fc cover and when lo

[2018-09-18 04:35] kyuhyong opened #513 "While on position hold with OF aid, drone moves sideways."
Hello,
I am testing optical flow aided position hold for indoor navigation and found weird behavior.
When setpoint is set and not moving, drone tends to move left (side way).
Looking at the log, it does not show any movements.
https://logs.px4.io/plot_app?log=f00136e9-fabc-4fa2-80d9-56d4c2ec3be2
![positionhold_localposition](https://user-images.githubusercontent.com/22294429/45664483-f528d980-bb46

[2018-09-20 06:46] kyuhyong commented on #511
It turned out that putting more sponge tape around fc actually improves the vz estimation as shown here.
https://logs.px4.io/plot_app?log=e94777f3-119d-4218-9fba-3d529b0d2f23
Thanks for looking at the log. ;)

[2018-09-24 06:52] kyuhyong commented on #511
I'm still have this issue.
https://logs.px4.io/plot_app?log=c96d25ad-e2f3-422d-851e-b294ab397ff5
It seems like once vz estimation diverge, it takes too long to get back.

[2018-09-25 02:39] huangwen0907 commented on #511
BTW:
It seems that your controllers is not response to your commander: May you check your hardware, such as esc or motors. etc

![screenshot from 2018-09-25 09-36-19](https://user-images.githubusercontent.com/22727672/45989650-278a8780-c0af-11e8-8ce0-1623719a8b79.png)

Why set `EKF2_AID_MASK  2` to inhibit the imu bias learning.

[2018-09-26 04:32] kyuhyong commented on #511
That happens when vz estimation is inconsistent with z estimation. ie vz says the drone is going down when absolute altitude of drone is going up.
To my understanding, setting 2(bit 1) is for using optical flow and inhibit IMU is for setting 4 or bit 2.
![ekf2_aid_mask](https://user-images.githubusercontent.com/22294429/46057453-9855a080-c190-11e8-84f2-0d8c30caf3ea.png)

[2018-10-17 02:09] revantad commented on #271
@mandelyoni Hey, I am working on the same platform and would definitely appreciate some pointers.

The mocap data is being published to the '/mavros/vision_pose/pose' and the data is currently being displayed in QGC. Also, the 'EKF_AID_MASK', 'EKF2_HGT_MODE' and 'EKF2_EV_DELAY' parameters are changed to appropriate values but the local_pose topic echos only Z and Orientation data but doesn't echo

[2018-10-21 16:31] potato77 commented on #271
@revantad Do you fix this problem? I also get the same problem.

[2018-10-21 17:40] mandelyoni commented on #271
Hi,

Did you download the latest PX4?

[2018-10-22 16:29] potato77 commented on #271
I am also using LPE. I fix the problem of xy estimation using the lastest firmware. But the yaw angle does not work.

| |
fatmoonqyp
邮箱：fatmoonqyp@126.com
|

Signature is customized by Netease Mail Master

On 10/22/2018 12:47, Revant Adlakha wrote:

@potato77 Hey, I actually am using the older version of Pixhawk that still supports LPE and I am using /mavros/mocap/pose to publish the pose. Do let

[2018-10-22 16:44] revantad commented on #271
@potato77 Maybe you want to change the `ATT_EXT_HDG_M` to Motion Capture

[2018-10-29 20:59] Seanmatthews opened #516 "Fusing 'indoor GPS'"
Should there be another sensor measurement added for indoor sensor types, like ultra-wideband radio ToF positioning, that resemble GPS in its error estimates and GDoP? If not, would MoCap work for such a sensor? Or, would it be best to convert XYZ to a fake GPS coordinate and use the GPS measurement channel to insert the measurement into EKF2?

I'm happy to work on adding a new measurement type if

[2018-10-29 22:34] mhkabir commented on #516
Bad assumption. UWB positioning for example, generally requires fusion of raw tag ranges in the navigation EKF for good performance. PX4's EKF2 doesn't have an interface for this, but I believe @priseborough derived the equations and had a baseline interface going for Ardupilot at some point.

[2018-10-30 02:15] Seanmatthews commented on #516
@TSC21 Yes, position control in offboard. Follow-up question about the feeding the measurement in as a vision input, and forgive me that this touches on MAVROS as well (@mhkabir please chime in on this as well)-- I'm feeding in a vision pose estimate to `~vision_pose/pose`. If I feed in the UWB position measurement to `~mocap/pose`, it's not clear to me in the EKF2_AID_MASK how those are handled s

[2018-10-30 08:39] TSC21 commented on #516
No. You need to use the vision topic so to feed mocap data to EKF2.

[2018-10-30 14:28] Seanmatthews commented on #516
@TSC21 Thanks for clarifying this.

@priseborough Can you comment on the baseline interface that you potentially created for Ardupilot? Do you think it's somewhat portable to PX4?

[2018-10-30 19:59] priseborough commented on #516
The PX4/ecl/EKF and ArduPilot/AP_NavEKF3 libraries use the same state vector and mathematical derivation so same observation equations for range measurements can therefore be used by PX4 (but not the code due to licensing issues)

Two problems were encountered when using this method:

1) The ambiguity associated with co-planar beacons - you have to constrain the solution to one side of the plane t

[2018-10-31 17:59] dakejahl opened #517 "Z position not initialized to zero"
This has been a problem for a long time, we've worked around it by maintaining a hacky version of our own `ecl`, but I'd like help solving this the correct way so others do not have this issue. I can't find the proper place in the code to do this, that is why I am posting here.

**Problem**
Vehicle is not seeded with ZERO state in Z while landed.
![selection_021](https://user-images.githubusercont

[2018-11-09 14:40] CarlOlsson opened #519 "Issues with heading estimation"
@priseborough
There seems to be serious issues present regarding heading estimation at places with high magnetic declination.

The problem is easy to reproduce in SITL. Just [change the location to e.g. Seattle](https://github.com/PX4/sitl_gazebo/blob/3d80f63562c24c1537e1f8423ce649c99ebc15ea/include/gazebo_gps_plugin.h#L97-L100) with a magnetic declination of ~15 degrees, ```make clean```, run ```

[2018-11-09 15:19] CarlOlsson commented on #519
Flying almost the same mission but with EKF2_MAG_TYPE = 0 (automatic switching from 3D axes and simple heading fusion) is even worse.

This is the true heading, estimated heading, the magnetic declination calculated from the estimated earth magnetic field states and the EKF2_MAG_DECL parameter added to logging
![image](https://user-images.githubusercontent.com/7795133/48270687-ebcb3780-e43a-11e8-8

[2018-11-09 16:16] dagar commented on #519
As a first step what about grabbing the declination in resetMagHeading? At least then it would be restored if previously saved to the parameter.

This still doesn't on a completely fresh system or the first use in a new area. What about forcing realignYawGPS() as soon as the GPS checks pass and NED origin is initialized?

 - https://github.com/PX4/ecl/tree/pr-ekf_mag_decl_cleanup
 - https://github

[2018-11-12 04:43] CarlOlsson commented on #519
The estimated earth magnetic field states could still be used to calculate a more accurate value of the magnetic declination than the one obtained from the GEO lookup table. Which, actually is [already done](https://github.com/PX4/ecl/blob/10a0fef7b7db749f5baf3384e9c900d3aa0e8140/EKF/ekf_helper.cpp#L758), just missed it before

[2018-11-12 20:30] priseborough commented on #519
I like the idea of a running realignYawGPS() as soon as the WGS-84 origin has been set. Will submit a patch for that.

[2018-11-12 20:49] RomanBapst commented on #519
@CarlOlsson That's true as long as your not using heading fusion only. In that case the mag alignment never takes place.

[2018-11-12 23:11] priseborough commented on #519
The resetMagHeading() function currently does not reset the states and covariances unless the change in magnetic yaw is greater than 15 degrees. This was done originally to avoid unnecessary disturbance of the covariance matrix when doing the in-air yaw alignment. As a compromise we could reset the yaw angle when the change is <15 degrees, but leave the covariance matrix alone.

[2018-11-12 23:54] priseborough commented on #519
See https://github.com/PX4/ecl/pull/520

[2018-11-14 20:46] #519 closed

[2018-11-20 17:44] CarlOlsson opened #522 "Possible issue with saving mag decl parameter"
There might be a possibility that when ekf2_main.cpp wants to save the magnetic declination returned by the GEO lookup table it instead saves the value 0.

This happens since

get_mag_decl_deg() returns true only when _NED_origin_initialised is true
https://github.com/PX4/ecl/blob/c49ab760c78fc6dc4cb174d6f9b7b39b01e19a7b/EKF/estimator_interface.h#L338-L342

_NED_origin_initialised is set to true i

[2018-11-20 20:35] dagar commented on #522
We can save it directly back to _params.mag_declination_source, then on the PX4 side the module needs to commit the parameter.

How about something like this?
PX4/ecl: https://github.com/PX4/ecl/commit/779d4c41dda2a0f3cd35360f565b531186f8af40
PX4/Firmware: https://github.com/PX4/Firmware/commit/8e64584838c8ae501f5e1525f16a5c099dc4e975

[2018-11-21 09:35] CarlOlsson commented on #522
Looks like a nice cleanup!
I just scrolled through it quickly but could you please just explain how it solves the problem that _mag_declination_gps and _NED_origin_initialised is updated in collect_gps() but _mag_declination is only updated in calcMagDeclination() which doesn't run if _imu_updated is false?

[2018-11-21 09:38] CarlOlsson commented on #522
What do you think about changing
```_params.mag_declination_deg = math::degrees(_mag_declination);```
in save_mag_declination() to
```_params.mag_declination_deg = math::degrees(_mag_declination_gps);```

[2018-11-21 11:28] CarlOlsson opened #523 "Consolidate use of mag declination lookup tables"
The lookup tables used to generate the "true" magnetic declination [in Gazebo](https://github.com/PX4/sitl_gazebo/blob/2adc86b5bf84543091470966caf33c3b4f3ee666/src/geo_mag_declination.cpp#L57) and the tables in the [ECL library](https://github.com/PX4/ecl/blob/master/geo_lookup/geo_mag_declination.cpp#L61) does not return the same values. E.g. if you run a SITL mission in
[code]

The SITL lookup t

[2018-11-21 15:39] dagar commented on #523
Update the sitl_gazebo tables to match ecl? We updated the ecl side earlier this year. https://github.com/PX4/ecl/commit/39b69af9bf8340790011c7c2723d4ed725ea0a3b#diff-55f02734c9f6c25271536a1feecb6b35

[2018-11-21 15:49] dagar commented on #522
Right, that race condition still exists. Yes your suggestion would do it.

[2018-11-21 20:03] CarlOlsson opened #525 "High susceptibility to noisy mag data"
At bootup we filter the mag measurements and then use the filtered value to initialize the earth magnetic field measurements, and if [this is merged](https://github.com/PX4/ecl/pull/524), also to initialize the heading.

However, as soon as we get GPS lock we again reinitialize the earth magnetic field states and heading, this time without filtering. The same is true also for the reinitializiation

[2018-11-21 21:01] dagar commented on #525
This is probably crude, but the cost of running the mag filter continuously would be minimal.

![image](https://user-images.githubusercontent.com/84712/48868109-8d8d4580-eda6-11e8-8bf1-4b0ef91681f3.png)

[2018-11-22 01:21] dagar commented on #523
Yes, but it would probably be a little awkward unless we broke it out into a standalone project. In this particular case I think it would be fine to manually duplicate.

[2018-11-25 17:00] CarlOlsson commented on #523
The mag declination tables have now been updated in SITL Gazebo

[2018-11-25 17:00] #523 closed

[2018-11-25 19:00] Antiheavy opened #526 "*feature request* warn user if Compass declared bad"
Request:
Improve the text of this ECL_WARN message and add it as a mavlink_log_critical warning so that the user sees it and knows there was a problem that was resolved in flight and should be checked into after landing.

https://github.com/PX4/ecl/blob/c49ab760c78fc6dc4cb174d6f9b7b39b01e19a7b/EKF/ekf_helper.cpp#L433

Suggested new text of a **mavlink_log_critical** message:
"Stopping compass use,

[2018-11-26 20:39] priseborough commented on #526
This event is detectable outside the EKF by monitoring bit position 18 of the estimator_status.control_mode_flags message. I would check for this bit transitioning to high in Commander::estimator_check(...) function and add the messaging via mavlink_log_critical there.

[2018-11-27 10:15] CarlOlsson commented on #522
@dagar will you create a PR with your branch including my proposed change?

[2018-11-28 13:33] CarlOlsson opened #527 "airDataAiding always declared false without synthethic sideslip fusion"
If the EKF stops fusing GPS it will report that it is dead reckoning if it is [not fusing airspeed and synthetic sideslip](https://github.com/PX4/ecl/blob/acde4ebcc38692213ee475c392f68ecb0b853818/EKF/ekf_helper.cpp#L1321-L1321). This seems wrong since synthetic sideslip fusion can e.g. be turned off by setting EKF2_FUSE_BETA to 0.

One solution would be to only check for synthetic sideslip fusion

[2018-11-28 18:12] #526 closed

[2018-11-29 01:09] hamishwillee opened #528 "Improve docs readme and confirm doc status"
The documentation in https://github.com/PX4/ecl/tree/master/EKF/documentation was reported in [PX4 slack](https://px4.slack.com/archives/C0V533X4N/p1543389371534300) as requiring an update. I have posted this request for further information.

FWIW I would have expected the README to have bullet point information about what each of the docs are for (Output Predictor.pdf, Process and Observation Mod

[2018-11-29 01:19] xdwgood commented on #528
A working Matlab model of the filter capable of replaying flight data can be found here: https://github.com/PX4/ecl/tree/master/matlab/EKF_replay

Need update:
https://github.com/PX4/ecl/blob/master/matlab/scripts/Inertial%20Nav%20EKF/GenerateNavFilterEquations.m  **----->** https://github.com/PX4/ecl/blob/master/EKF/matlab/scripts/Inertial%20Nav%20EKF/GenerateNavFilterEquations.m

https://github.

[2018-11-29 05:32] kyuhyong opened #529 "cannot position hold with pmw3901 optical flow sensor"
With latest master I cannot get position hold using pmw3901 flow sensor both attached to pixhawk and crazyflie board.
It looks like there has been a lot of changes made for optical flow since my older version of px4 here
https://github.com/PX4/Firmware/tree/crazyflie_optflow
which worked just fine.
Now I am trying to do the same thing with the latest master however it is not working as expected.

[2018-11-30 09:15] CarlOlsson commented on #527
See https://github.com/PX4/ecl/pull/530 for Paul's explanation

[2018-11-30 09:15] #527 closed

[2018-12-03 14:41] CarlOlsson opened #532 "_rng_filt_state is never updated"
I did not use this feature myself but is seems like [_rng_filt_state](https://github.com/PX4/ecl/blob/27f784649533a4a70e8ed8dfd0cca02f9de760d6/EKF/ekf.h#L403-L403) is never updated

[2018-12-06 07:45] xdwgood commented on #528
@hamishwillee  any update? :smiley:

[2018-12-06 10:41] hamishwillee commented on #528
@xdwgood No point asking me, this isn't under my control (hence posted this issue). @priseborough @CarlOlsson @mhkabir Do any of you own the above docs?

[2018-12-06 15:38] mhkabir commented on #528
@priseborough does, but the change is simple enough. It's just a link correction since the directories were rearranged slightly.

[2018-12-07 02:54] hamishwillee commented on #528
PR added. Do with it as you will. FYI @xdwgood nothing to stop you doing that too :-)

[2018-12-07 03:00] xdwgood commented on #528
I always feel that any suggestions on the PX4 are worth encouraging....But this time I am not happy.
Is the update of the document worthless?   It may also be the reason of the language, I can't understand what you mean.

[2018-12-07 06:06] hamishwillee commented on #528
@xdwgood Let me try again then.
- This was a good suggestion. Thank you.
- I have fixed the links in PR: https://github.com/PX4/ecl/pull/534

What I am saying is that there is no reason that you could not have submitted a PR to fix the links yourself. I'm very happy to help, but it doesn't seem like I added any real value given that you knew the problem and the solution.

[2018-12-07 07:35] xdwgood commented on #528
@hamishwillee  OK ，now I understand what you mean. Thank you

Yes,I can indeed submit a PR myself, but I don't want to be an ecl contributor because of this unimportant change.  haha  ^_^  :smiley:

[2018-12-10 02:34] #528 closed

[2018-12-10 15:35] CarlOlsson opened #536 "Heading fusion at high pitch angles"
Something seems to be suboptimal regarding heading fusion at high pitch angles.
Here are two plots from two hand held tests.
Red is heading and blue is heading innovation. In both tests the system was powered and then rotated 90 degrees 4 times. In the left test the pitch angle was always 90 degrees and in the the right test the pitch angle was always 0 degrees
![image](https://user-images.githubu

[2018-12-18 12:41] CarlOlsson commented on #536
This turned out to be related to the raw sensor data and not a mathematical issue in the estimator

[2018-12-18 12:41] #536 closed

[2018-12-20 21:56] #479 closed

[2018-12-20 21:57] #511 closed

[2018-12-20 22:06] priseborough opened #541 "EKF: Problem with quaternion covariance reset"
When doing a yaw reset using the Ekf::initialiseQuatCovariances(Vector3f &rot_vec_var) method  (see https://github.com/PX4/ecl/blob/master/EKF/ekf_helper.cpp#L1429) if the vehicle has a large roll or pitch angle (eg tailsitter), the use of a rotation vector variance to represent the uncertainty does not enable the uncertainty in yaw to be changed without affecting the tilt (roll/pitch) variance.

[2018-12-20 22:19] priseborough commented on #513
This is not the correct forum to ask for integration assistance. Please move to http://discuss.px4.io

[2018-12-20 22:19] #513 closed

[2018-12-20 23:44] priseborough commented on #541
I've derived equations that should enable the yaw uncertainty to be increased. This will eliminate the need for a all of nothing reset of quaternion covariances following a reset of the yaw angle.

See  https://github.com/PX4/ecl/tree/pr-ekfYawCovReset

This will be implemented in the new year.

[2018-12-23 22:49] priseborough commented on #541
Further investigation of the code showed that this part of a wider issue that can affect all vehicle types that need to use an in-air reset to recover from a ground based magnetic yaw error. This is due to:

1) The preservation of off-diagonal elements in the covariance matrix in the 0-3 (quaternion state index) rows and columns that can lead to incorrect fusion of GPS and other NE frame observati

[2018-12-24 00:06] priseborough commented on #541
I was able to simulate a large tilt angle at the time fo the yaw reset by using the 'make posix_sitl gazebo_tailsitter' option, however this did require disabling the "Preflight Fail: Airspeed Sensor stuck" chekc in the commander and changing the  step size and real time update rate in tailsitter.world to 250 Hz, eg     <max_step_size>0.004</max_step_size>
<real_time_update_rate>250</real_time_upd

[2019-01-01 15:20] almaaro opened #545 "TECS throttle and pitch calculation have got some quirks in them"
Hello,
I'll explain some parts of throttle and pitch calculation in tecs.cpp (at least how I've understood it):

`// Calculate the demanded true airspeed`
`_update_speed_setpoint();`
- This calculates _TAS_rate_setpoint from the airspeed error and _speed_error_gain.

`// Calculate the demanded height`
`_update_height_setpoint(hgt_setpoint, baro_altitude);`
- This calculates _hgt_rate_setpoint from

[2019-01-01 22:24] almaaro opened #546 "TECS to take airspeed into account in throttle calculation"
Edit. Updated the section describing the relationship between throttle and V2 (not assuming that V2 is proportional to throttle but rather that V2-V0 is.)
Hello,
This is more like a nice-to-have improvement, but why not give it a shot. I have a branch(https://github.com/almaaro/ecl/tree/advanced-ste-limits) here, but since making structured testing with real vehicles is a bit difficult during wint

[2019-01-03 13:28] CarlOlsson opened #548 "EKF: Bug in yaw reset variance calculation"
In resetMagHeading() in ekf_helper.cpp we use the angular error of the last external vision measurement when we calculate the angular error variance vector even if external vision is not activated.

https://github.com/PX4/ecl/blob/4822bf83861513cf330ab1482439ed1c72e99232/EKF/ekf_helper.cpp#L732-L739

The bug seems to have been introduced [here](https://github.com/PX4/ecl/commit/389786ef1bbac0d1844

[2019-01-04 09:07] priseborough commented on #548
I'll raise a PR for this. It's a quick fix.

[2019-01-04 10:01] #548 closed

[2019-01-04 15:36] CarlOlsson commented on #541
@priseborough
I tested this for a quad in sitl
![image](https://user-images.githubusercontent.com/7795133/50695251-7a73c380-103c-11e9-8937-7d10a0a6ebc1.png)

As can be seen the variance for the q[0] and q[3] is increased which is correct.

Are you sure about this? As far as I know standard PX4 uses a convention for tailsitters such that the coordinate frame is similar to that of a quad in hover. I

[2019-01-07 14:03] CarlOlsson commented on #541
@priseborough
I tested this code by adding the entire 4x4 quaternion covariance matrix to logging and running
[code]
[Link to logfile](https://logs.px4.io/plot_app?log=4021dadc-e1aa-4c60-abc9-f07074037787)

I then converted the quaternion covariance matrix to an Euler covariance matrix following [these equations](https://stats.stackexchange.com/questions/119780/what-does-the-covariance-of-a-quater

[2019-01-08 08:06] priseborough commented on #541
However if you plot the quaternion state variances, the biggest increase is in q3 and less for q0 with q1  and q2 variance increase being negligible  which is consistent with an increase in yaw uncertainty for a vehicle that is close to zero roll and pitch.

[2019-01-08 08:16] CarlOlsson commented on #541
Yes, which indicates that the code is working as intended. I just need to figure out why the conversion to Euler angles does not give the expected result

[2019-01-08 08:37] TSC21 commented on #541
@CarlOlsson I think it's related with the 321 and 312 variations that Paul spoke of and I think I know how to handle those on the covariance law. I will do an update later today.

[2019-01-08 09:15] CarlOlsson commented on #541
Yes me to, I just did a test with a quad. Hover for some time, increase heading noise, hover, decrease heading noise
![image](https://user-images.githubusercontent.com/7795133/50820927-362f3e80-132e-11e9-9b64-2ad1cb7f031e.png)

The middle element in the covariance matrix is definitely yaw and not pitch

[2019-01-09 16:50] CarlOlsson commented on #541
Okey, so the confusion around the quaternion convention is sorted out in https://github.com/PX4/ecl/pull/543

What is left for this PR is to verify that the yaw uncertainty is increasing correctly for all attitudes, e.g. at pitch 90 degrees.
In order to do that I calculated the Jacobian of the Euler angles to quaternions for both a 321 and 312 sequence.
Comparing the yaw variance on the logfile de

[2019-01-09 16:57] CarlOlsson commented on #541
For reference, here is the G matrices

[code]

[2019-01-09 17:03] TSC21 commented on #541
@CarlOlsson have you tried to use the same G matrix for both 321 and 312 rotation orders? I tried to use the same for these and I seemed to get the same results on plots.

[2019-01-09 17:07] CarlOlsson commented on #541
I don't understand what you mean. The Jacobian (G matrix) is defined by the way you calculate the yaw angle which depends on the Euler sequence. How can you have different Euler sequences with the same Jacobian?

[2019-01-09 17:09] TSC21 commented on #541
I can't really tell but for the 321 and 123 orders, applying the same G matrix, I get the same results. I can try to verify that on math.

[2019-01-09 17:11] CarlOlsson commented on #541
You can probably use the same method as [here](https://github.com/PX4/ecl/blob/master/EKF/mag_fusion.cpp#L441)

For the logfile mentioned above, here is the raw quaternions
**East**
![image](https://user-images.githubusercontent.com/7795133/50915825-e76ecb00-1439-11e9-8d77-9bcdd2a7eddc.png)

**North**
![image](https://user-images.githubusercontent.com/7795133/50915830-ea69bb80-1439-11e9-93b5-2958c

[2019-01-10 12:52] CarlOlsson opened #553 "Include yaw uncertainty in covariance reset"
In the [initialiseCovariance()](https://github.com/PX4/ecl/blob/b920910483657a9680749651995ac8e119fb5120/EKF/covariance.cpp#L49-L49) function, which is called e.g. if the heading fusion has encountered a numerical error, we don't account for the yaw uncertainty when initializing the quaternion covariances. This may result in a smaller yaw uncertainty after the reset than before.

@priseborough Is

[2019-01-10 16:14] CarlOlsson commented on #541
I tested this code again, this time on a sitl quad.
I planned a square mission ([log](https://logs.px4.io/plot_app?log=1ed88263-d4ef-4901-80e5-9148a4e376f8)), all waypoints are 45 second loiter
![image](https://user-images.githubusercontent.com/7795133/50978677-33cb1100-14f5-11e9-9fb9-f8eeb9aaad42.png)

Then at every waypoint I triggered uncorrelateQuatStates() and increaseQuatYawErrVariance() two

[2019-01-11 08:59] priseborough commented on #541
Where are you getting the derivation for the conversion from  a quaternion rotation to a 312 Tait-Bryan sequence and the derivation for the associated partial derivative matrix?

[2019-01-11 09:06] CarlOlsson commented on #541
The conversion from quaternion rotation to a rotation matrix comes from [here](https://github.com/PX4/ecl/blob/master/EKF/ekf_helper.cpp#L1354), and then to 312 Tait-Bryan yaw comes from [here](https://github.com/PX4/ecl/blob/master/EKF/mag_fusion.cpp#L546)

The derivation for the partial derivative matrix comes from the following python script
[code]

[2019-01-13 22:53] priseborough commented on #553
It was originally written for use at startup prior to fusion of any data and. The likelihood of it being called in-flight is small - I have not seen this triggered since the early days of filter development when we were still finding the correct combination of process noise and covariance matrix error correction methods.

However if the observation method being used for yaw is known at the time of

[2019-01-14 01:03] priseborough commented on #541
I've done further investigation today and the "EKF mag yaw fusion numerical error - covariance reset" could be the result of setting the off-diagonals to zero and having fusion take place before the next covariance prediction. How were you triggering uncorrelateQuatStates() and increaseQuatYawErrVariance() ? I will add code to the branch so that the fusion is blocked until after the next covarianc

[2019-01-15 12:15] priseborough commented on #541
OK, so I will focus the investigation for the time being on the cause of the 'EKF mag yaw fusion numerical error - covariance reset' events. One thing to try is to ensure the covariance prediction runs before the next fusion step.

I would like to be able to reproduce your results in my testing using the same mission plan and firmware modifications.

[2019-01-16 06:55] priseborough commented on #541
Thank you to @CarlOlsson and Sebastian for spotting a sign error that was introduced when the auto-code had been cleaned up by hand in the increaseQuatYawErrVariance function. The https://github.com/PX4/ecl/tree/pr-ekfYawCovReset branch has been rebased has been rebased and the error fixed here:
https://github.com/PX4/ecl/commit/69c29ad0e5e6db60ebc29ac537e87fa5301c29ff

A compile error introduced

[2019-01-16 11:18] CarlOlsson commented on #541
@priseborough As discussed I pushed two commits to this branch.
3d716c438d28e0d0c2c42205a8bdbddccab146d7 Also fill in the lower part of the covariance matrix
d36be5b3bd3707c805fc6773906f2ba4dce87498 Limit the yaw variance increase to 0.01 rad^2

[2019-01-17 04:05] priseborough commented on #541
@CarlOlsson I've pushed two commits to the branch which should address the issue of unstable declination immediately following a field reset when using 3-axis fusion and the loss of declination covariance information when switching in and out of 3-axis fusion in auto mode in into 3-axis fusion with EKf2_MAG_TYPE = 0

[2019-01-18 11:41] CarlOlsson opened #554 "Earth mag state covariances are initialized to 0"
@priseborough the issue you are referring to [here](https://github.com/PX4/ecl/issues/541#issuecomment-455047530) is not a problem with the new quaternion covariance reset branch but a bug on master.

It was introduced [here](https://github.com/PX4/ecl/pull/544) and happens because when mag_align_complete is set to true [here](https://github.com/PX4/ecl/blob/721f5e61a5965a08a34b2875d2bdc0b5d3b8060

[2019-01-18 16:13] CarlOlsson commented on #541
Actually not only [this](https://github.com/PX4/ecl/issues/554) problem seems to be initializing the covariances to zero

There is also a problem when we call fuseDeclination() in resetMagYaw(). When we call this function the first time we activate 3d fusion we also call fixCovarianceErrors(), and here we set the mag field state covariances to zero since _control_status.flags.mag_3D is false

[2019-01-19 14:40] JenaEmz opened #555 "There is an error in control.cpp"
in Line499, miss brackets

[2019-01-20 23:37] priseborough commented on #541
The covariance reset to 0 bug has been fixed here:
https://github.com/PX4/ecl/commit/ad9414e4dadc6a7a25d33b7edc219775d8a88086

SITL log: https://logs.px4.io/plot_app?log=39f319e4-847f-467c-9056-78fb917c0515

[2019-01-21 00:10] LorenzMeier commented on #541
@priseborough I've put up a PR for easier reference to that commit: https://github.com/PX4/ecl/pull/556

[2019-01-21 14:05] CarlOlsson commented on #541
@priseborough Some comments to the updated code in this branch

1) The `fuseDeclination()` function in `resetMagHeading()` is never triggered [here](https://github.com/PX4/ecl/blob/ad9414e4dadc6a7a25d33b7edc219775d8a88086/EKF/ekf_helper.cpp#L705-L705) because `_control_status.flags.mag_3D` is always false.

2) This is actually also on master but since https://github.com/PX4/ecl/pull/544 the reset

[2019-01-21 22:13] priseborough commented on #541
@CarlOlsson  I will try another approach to simplify the way fuseDeclination() is only called, either immediately before fuseMag() if it hasn't been called since the last yaw reset or immediately after if _control_status.flags.mag_dec is true. This will simplify the overall logic.

Discussion continued in PR.

[2019-01-22 08:22] CarlOlsson opened #557 "Initial magnetometer alignment is never performed by GPS CoG"
Issue was first raised [here](https://github.com/PX4/ecl/issues/541#issuecomment-456085210) but I thought it would be best to create a separate issue not to lose track of it.

The code that enables planes to recover from bad mag data at start of flight that was added [here](https://github.com/PX4/ecl/pull/294) is never triggered anymore since the yaw reset by magnetometer that was added [here](htt

[2019-01-22 08:29] CarlOlsson opened #558 "CI testing for ECL"
We need some sort of CI testing for PRs going into ECL in order to prevent introduction of bugs such as https://github.com/PX4/ecl/issues/557 and https://github.com/PX4/ecl/issues/554

As a start maybe we can add some (optional)printfs in functions which does not run continuously. Then for every PR we replay some logfiles and compare the output to what is should be.

@dagar Might have more ideas h

[2019-01-22 14:14] dagar commented on #558
Yes definitely! Ideally we'd have a range of different testing, including unit tests in ecl/EKF itself, replay testing, simulation testing, etc. Previously @priseborough mentioned the idea of maintaining a good set of representative logs that we could use for "replay testing". For several of these ideas it's all likely going to come down to log analysis. Can you go through a few painful examples w

[2019-01-23 16:17] CarlOlsson commented on #525
For vehicles using EKF2_MAG_TYPE = 1 (only heading fusion) this is now even worse.
Since https://github.com/PX4/ecl/pull/544 we reinitialize the earth magnetic field states at takeoff and start using them for calculating the declination. If that single magnetometer sample that is used for this is bad the declination will be off and there is no way for the EKF to recover since the earth field state

[2019-01-26 16:33] #546 closed

[2019-01-27 17:14] RomanBapst commented on #545
@almaaro I did not go through all of the the details but I noticed that you might be confused by the design of the control loops of the version of TECS that PX4 uses.
Similar to you I was also once curious about the design and compared it to the "original" implementation of TECS.
You can read about that design here:
https://patentimages.storage.googleapis.com/99/6a/bc/aed12b8b2d6fd2/US4536843.pdf

[2019-01-28 06:32] priseborough commented on #554
Fixed in https://github.com/PX4/ecl/pull/556

[2019-01-29 14:50] CarlOlsson commented on #558
Yeah, this would really nice. Unfortunately the backwards compatibility so far has never been prioritized. But if that would change in the future it would be a great option.

Except for [this one](https://github.com/PX4/ecl/issues/548) and the ones already mentioned above I don't remember more right now.
All of these errors could be identified by only looking at which logic that was executed.

No

[2019-01-29 16:35] dagar commented on #558
I'm not sure backwards compatibility necessary should be prioritized. I would only want to do it if we're prepared to refresh them periodically.

That actually might be key. Are we able to effectively test ecl/EKF from log analysis or do we need to get it structured such that unit testing is viable as well?

[2019-01-29 21:19] dagar commented on #555
I believe it's fine due to c++ operator precedence, but we might be looking at something different. Either way clarity brackets never hurt. https://github.com/PX4/ecl/pull/565

[2019-01-30 14:15] #555 closed

[2019-01-30 21:00] priseborough commented on #557
Testing passed. See https://github.com/PX4/ecl/pull/556#issuecomment-459105502 for details.

[2019-01-31 15:18] Slimercorp opened #566 "Error in estimator_interface.h"
estimator_interface.h:
127-131 lines:

	// gets the innovation variance of the HAGL measurement
	virtual void get_hagl_innov_var(float *flow_innov_var) = 0;

	// gets the innovation of the HAGL measurement
	virtual void get_hagl_innov(float *flow_innov_var) = 0;
must be hagl_innov & hagl_innov_var

[2019-02-01 00:01] mhkabir commented on #566
Can you send a PR for this?Thanks!

[2019-02-01 01:40] #554 closed

[2019-02-01 09:09] mhkabir commented on #557
Fixed on master.

[2019-02-01 09:09] #557 closed

[2019-02-01 09:10] mhkabir commented on #541
Fixed on master.

[2019-02-01 09:10] #541 closed

[2019-02-01 09:11] #529 closed

[2019-02-01 11:10] hdiethelm opened #567 "Use vision position using gyro for yaw"
Hello,
I have a drone flying indoor using UWB for positioning. This works quite nice as long the compass is not drifting to much. Which is sadly mostly the case because of a bad compass and magnetic steel parts all around.
Because the flight time is short (3-4 min) I was thinking it should be possible to deactivate the compass and use just the gyro as reference for yaw.
So I set:
EKF2_AID_MASK to

[2019-02-01 12:09] hdiethelm commented on #567
Thanks!
I just did an other test: By forcing the gyro bias to zero, it gets better. But still, it seams that there is a bug because the integral of the gyro values is much more stable than the estimation.
[code]

![att_no_fuse_no_bias](https://user-images.githubusercontent.com/5688984/52121719-e12ad380-2620-11e9-9be8-487942f51e40.jpg)

![gyro_no_fuse_no_bias](https://user-images.githubusercontent.

[2019-02-01 13:16] hdiethelm commented on #567
I did an other test,  fuseHeading active and 10 rad noise. The drone was just standing on my desk, receiving zero as position and angle. At 291 s, something got out of control without any visible reason and yaw started drifting away. Meight be it was not visible before, because at about this time I rotated the drone.

![att_fuse2](https://user-images.githubusercontent.com/5688984/52124976-23591280

[2019-02-01 13:40] hdiethelm commented on #567
Last test for today: Same results on PX4 master branch:
![att_fuse_master](https://user-images.githubusercontent.com/5688984/52126265-2a821f80-262f-11e9-85ba-c55046aeeb9b.jpg)
![gyro_fuse_master](https://user-images.githubusercontent.com/5688984/52126272-2f46d380-262f-11e9-9c05-c19007c3be6b.jpg)
[log_12_2019-2-1-14-38-40.zip](https://github.com/PX4/ecl/files/2821773/log_12_2019-2-1-14-38-40.zip)

[2019-02-01 13:50] mhkabir commented on #567
@priseborough can you please look into this.

[2019-02-01 23:14] #517 closed

[2019-02-02 08:25] velan45 opened #568 "error:Running Matlab scripts for generate navfilter equation"
Hi
I tried to run matlab script for generating navfilter equations, but I am getting this error
![matlab script](https://user-images.githubusercontent.com/30148049/52162172-f45ba300-26f5-11e9-9bc0-8e031f798e26.png)
any kind of help would be greatly appreciated. Thanks

[2019-02-06 14:14] CarlOlsson opened #571 "EKF: tilt_align and uncertainty at high pitch angels"
We declare `tilt_align = true` when the roll + pitch uncertainty is lower than 3 degrees.
https://github.com/PX4/ecl/blob/c52f4bab1a1655f298778b9a815bbe3c70d91529/EKF/control.cpp#L61-L62

This does not work properly at high pitch angles in the same way as the increase in yaw uncertainty at a heading reset wasn't working before.

E.g. for a tailsitter which is booted up with the body x axis facing

[2019-02-07 01:09] mhkabir opened #572 "Delete old branches"
@priseborough Would you be able to do a pass and delete all old branches which are not relevant anymore or have been merged to master in some form? We have too many stale ones.

Some of the branches have useful features which could be picked up and developed further by others, or are useful for debugging, and it would be good to know what is still useful.

[2019-02-27 12:13] CarlOlsson opened #575 "Only 3D mag fusion is broken"
If `EKF2_MAG_TYPE = 2` (only 3D mag fusion) the estimator will continuously trigger yaw resets
https://github.com/PX4/ecl/blob/1378ec179717448404c74819871d149217350b19/EKF/control.cpp#L1542-L1545

since mag_align_complete is set to false here
https://github.com/PX4/ecl/blob/1378ec179717448404c74819871d149217350b19/EKF/control.cpp#L1378-L1378

To reproduce run
`make px4_sitl gazebo`, set `EKF2_MAG_

[2019-02-27 14:44] dagar commented on #575
Any idea when it was last functional?

[2019-02-27 20:44] CarlOlsson commented on #575
No, I never used it before. Just wanted to test something in SITL and noticed that the vehicle never got GPS lock

[2019-02-28 09:55] julianoes opened #576 "Docs: link broken"
The link in the readme for "EKF Documentation and Tuning Guide" does not work anymore.
FYI @hamishwillee

[2019-02-28 09:58] julianoes commented on #576
It's still here:
https://github.com/PX4/px4-devguide/blob/master/en/tutorials/tuning_the_ecl_ekf.md
and here:
https://web.archive.org/web/20180619060008/https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html

[2019-03-01 02:06] hamishwillee commented on #576
Hi @julianoes

The doc moved into the user guide: https://docs.px4.io/en/advanced_config/tuning_the_ecl_ekf.html
I created a redirect from the devguide https://dev.px4.io/master/en/tutorials/tuning_the_ecl_ekf.html
Unfortunately the master build did not propagate into the root, so if you go to https://dev.px4.io/en/tutorials/tuning_the_ecl_ekf.html you don't get that redirect.

The source for the

[2019-03-04 18:08] mrpollo commented on #576
Can we fix the link in the README to point to the new location? this will fix the README

[2019-03-05 15:08] fvantienen opened #581 "Unused parameters warning"
We now need to compile with `-Wno-unused-parameter` in order to not get any warnings due to the `estimator_interface.h` having functions with unused parameters. Wouldn't it be nicer to define the `__attribute__((unused))` for these parameters specifically?
This way we don't need to compile the whole autopilot project with the `unused-parameter` flag.

[2019-03-05 15:58] tstellanova opened #582 "`make test` fails to build"
While investigating a potential bug in DataValidator, I want to add a unit test.
When I run `make test` I get the error below.

Any suggestions on how to move past this? Thanks!

[code]

[2019-03-05 17:18] dagar commented on #582
SWIG doesn't seem to like one of the recent PX4/Matrix changes (https://github.com/PX4/Matrix/commits/master).

As a temporary workaround you could point it at https://github.com/PX4/Matrix/commit/6b0777d815cd64902eb0575d56ec52f53aebb4a0 until we find the proper fix.
https://github.com/PX4/ecl/blob/1378ec179717448404c74819871d149217350b19/CMakeLists.txt#L125-L132

[2019-03-05 17:21] dagar commented on #581
Are these parameters completely unused in ecl or only in your particular use case?
Are you building with cmake?

[2019-03-05 17:32] dagar commented on #582
Temporary workaround - https://github.com/PX4/ecl/pull/583

[2019-03-05 17:35] dagar commented on #582
Looking forward to more testing on this side. We have code coverage for standalone PX4/ecl tests - https://codecov.io/gh/PX4/ecl. This doesn't yet include testing when included in PX4/Firmware.

[2019-03-05 17:42] dagar commented on #568
Which version of matlab? I believe @priseborough was last using ~ 2015b.

[2019-03-05 17:49] fvantienen commented on #581
These following functions have unused parameters:
- `virtual bool collect_gps(uint64_t time_usec, struct gps_message *gps) { return true; }` (`estimator_interface.h`, all parameters)
- `bool Ekf::collect_gps(uint64_t time_usec, struct gps_message *gps)` (`gps_checks.cpp`, only `time_usec`)

I am not building with cmake, we use our own Makefile system.

[2019-03-05 17:52] dagar commented on #581
Let's just update them. I'll fix the PX4/Firmware usage.

[2019-03-05 17:59] fvantienen commented on #581
You can then also remove the `-Wno-unused-parameter` from the cmake file in this repo.

[2019-03-05 22:26] #581 closed

[2019-03-06 19:06] dagar commented on #576
No idea where https://github.com/PX4/px4-devguide came from. Should we get rid of it?

[2019-03-06 21:01] hamishwillee commented on #576
@dagar Yes please. I don't have the permissions.

[2019-03-06 21:12] dagar commented on #576
Done

[2019-03-06 21:14] hamishwillee commented on #576
Thanks. We still need to fix issues with the root not being updated :-)

[2019-03-06 21:14] #576 closed

[2019-03-07 16:31] tstellanova commented on #582
Thanks for the pin workaround. `make test` builds now, and I was able to get further with testing, but now I’m thwarted by python test harness dependency problems.  It strikes me that having tests in CI for just this library is crucial to assuring it performs as intended. If I have time in the future I might tackle getting CI tests integrated— I think there was another feature request issue alread